--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://monitoring.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeAlarms&Version=2010-08-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150316T110923Z"
          X-Amz-Content-Sha256: 
            - "57c3d9c7d24b342f02bb6f04344888c8b2f5edb728e610a68d0d1665454dde11"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150316/sa-east-1/monitoring/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=6a5036e00d9f012e5610b0faac518987258657a0a6f177b37b0a7a145f210ffc"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - e7dfd3b5-cbcc-11e4-8a1d-e970fe3712ce
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeAlarmsResponse xmlns=\x22http://monitoring.amazonaws.com/doc/2010-08-01/\x22>\n  <DescribeAlarmsResult>\n    <MetricAlarms>\n      <member>\n        <StateUpdatedTimestamp>2015-03-16T10:53:54.394Z</StateUpdatedTimestamp>\n        <StateReasonData>{&quot;version&quot;:&quot;1.0&quot;,&quot;queryDate&quot;:&quot;2015-03-16T10:53:54.382+0000&quot;,&quot;startDate&quot;:&quot;2015-03-16T10:51:00.000+0000&quot;,&quot;statistic&quot;:&quot;Average&quot;,&quot;period&quot;:120,&quot;recentDatapoints&quot;:[16.64],&quot;threshold&quot;:70.0}</StateReasonData>\n        <InsufficientDataActions/>\n        <AlarmArn>arn:aws:cloudwatch:sa-east-1:482693910459:alarm:AddCapacity</AlarmArn>\n        <AlarmConfigurationUpdatedTimestamp>2015-03-16T10:51:36.847Z</AlarmConfigurationUpdatedTimestamp>\n        <AlarmName>AddCapacity</AlarmName>\n        <Period>120</Period>\n        <StateValue>OK</StateValue>\n        <OKActions/>\n        <ActionsEnabled>true</ActionsEnabled>\n        <EvaluationPeriods>2</EvaluationPeriods>\n        <Namespace>AWS/EC2</Namespace>\n        <Threshold>70.0</Threshold>\n        <Statistic>Average</Statistic>\n        <AlarmActions>\n          <member>arn:aws:autoscaling:sa-east-1:482693910459:scalingPolicy:73acc988-cdc0-4570-98a5-02c3e115bf3b:autoScalingGroupName/test-asg:policyName/scaleout</member>\n        </AlarmActions>\n        <StateReason>Threshold Crossed: 1 datapoint (16.64) was not greater than or equal to the threshold (70.0).</StateReason>\n        <Dimensions>\n          <member>\n            <Name>AutoScalingGroupName</Name>\n            <Value>test-asg</Value>\n          </member>\n        </Dimensions>\n        <ComparisonOperator>GreaterThanOrEqualToThreshold</ComparisonOperator>\n        <MetricName>CPUUtilization</MetricName>\n      </member>\n      <member>\n        <StateUpdatedTimestamp>2015-03-16T10:53:54.880Z</StateUpdatedTimestamp>\n        <StateReasonData>{&quot;version&quot;:&quot;1.0&quot;,&quot;queryDate&quot;:&quot;2015-03-16T10:53:54.863+0000&quot;,&quot;startDate&quot;:&quot;2015-03-16T10:51:00.000+0000&quot;,&quot;statistic&quot;:&quot;Average&quot;,&quot;period&quot;:120,&quot;recentDatapoints&quot;:[16.64],&quot;threshold&quot;:40.0}</StateReasonData>\n        <Insufficien[...]
    - request: 
        method: post
        uri: "https://autoscaling.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribePolicies&PolicyNames.member.1=arn%3Aaws%3Aautoscaling%3Asa-east-1%3A482693910459%3AscalingPolicy%3A73acc988-cdc0-4570-98a5-02c3e115bf3b%3AautoScalingGroupName%2Ftest-asg%3ApolicyName%2Fscaleout&Version=2011-01-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150316T110925Z"
          X-Amz-Content-Sha256: 
            - "9c51f73cd49871da989b15eef324b8d2aea964d21c296012f438a6d6a17bc62f"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150316/sa-east-1/autoscaling/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=64ee2edf7a2f56660d9f61ccf68c1c54e3d63f377ff9e1763fa7560e9a2abe18"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - e8c4b5bf-cbcc-11e4-a5ed-6bcdaa944db0
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribePoliciesResponse xmlns=\x22http://autoscaling.amazonaws.com/doc/2011-01-01/\x22>\n  <DescribePoliciesResult>\n    <ScalingPolicies>\n      <member>\n        <PolicyARN>arn:aws:autoscaling:sa-east-1:482693910459:scalingPolicy:73acc988-cdc0-4570-98a5-02c3e115bf3b:autoScalingGroupName/test-asg:policyName/scaleout</PolicyARN>\n        <AdjustmentType>PercentChangeInCapacity</AdjustmentType>\n        <ScalingAdjustment>30</ScalingAdjustment>\n        <PolicyName>scaleout</PolicyName>\n        <AutoScalingGroupName>test-asg</AutoScalingGroupName>\n        <Alarms>\n          <member>\n            <AlarmName>AddCapacity</AlarmName>\n            <AlarmARN>arn:aws:cloudwatch:sa-east-1:482693910459:alarm:AddCapacity</AlarmARN>\n          </member>\n        </Alarms>\n      </member>\n    </ScalingPolicies>\n  </DescribePoliciesResult>\n  <ResponseMetadata>\n    <RequestId>e8c4b5bf-cbcc-11e4-a5ed-6bcdaa944db0</RequestId>\n  </ResponseMetadata>\n</DescribePoliciesResponse>\n"
      recorded_at: "Mon, 16 Mar 2015 11:09:26 GMT"
[...]
