--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://monitoring.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeAlarms&Version=2010-08-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150121T110514Z"
          X-Amz-Content-Sha256: 
            - "57c3d9c7d24b342f02bb6f04344888c8b2f5edb728e610a68d0d1665454dde11"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150121/sa-east-1/monitoring/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=f3d8611791fa09e9ccb8a15f7099f3448d1a1480b23f85125182b399ebb88d7c"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "5f5e17fc-a15d-11e4-98d7-1544e8f09411"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeAlarmsResponse xmlns=\x22http://monitoring.amazonaws.com/doc/2010-08-01/\x22>\n  <DescribeAlarmsResult>\n    <MetricAlarms>\n      <member>\n        <StateUpdatedTimestamp>2015-01-21T11:04:52.486Z</StateUpdatedTimestamp>\n        <InsufficientDataActions/>\n        <AlarmArn>arn:aws:cloudwatch:sa-east-1:482693910459:alarm:AddCapacity</AlarmArn>\n        <AlarmConfigurationUpdatedTimestamp>2015-01-21T11:04:53.236Z</AlarmConfigurationUpdatedTimestamp>\n        <AlarmName>AddCapacity</AlarmName>\n        <Period>120</Period>\n        <StateValue>INSUFFICIENT_DATA</StateValue>\n        <OKActions/>\n        <ActionsEnabled>true</ActionsEnabled>\n        <EvaluationPeriods>2</EvaluationPeriods>\n        <Threshold>60.0</Threshold>\n        <Namespace>AWS/EC2</Namespace>\n        <Statistic>Average</Statistic>\n        <AlarmActions>\n          <member>arn:aws:autoscaling:sa-east-1:482693910459:scalingPolicy:9ecb8876-0557-4e69-8b5c-1df92ed8859e:autoScalingGroupName/test-asg:policyName/scaleout</member>\n        </AlarmActions>\n        <StateReason>Unchecked: Initial alarm creation</StateReason>\n        <Dimensions>\n          <member>\n            <Name>AutoScalingGroupName</Name>\n            <Value>test-asg</Value>\n          </member>\n        </Dimensions>\n        <ComparisonOperator>GreaterThanOrEqualToThreshold</ComparisonOperator>\n        <MetricName>CPUUtilization</MetricName>\n      </member>\n      <member>\n        <StateUpdatedTimestamp>2015-01-21T11:04:50.326Z</StateUpdatedTimestamp>\n        <InsufficientDataActions/>\n        <AlarmArn>arn:aws:cloudwatch:sa-east-1:482693910459:alarm:RemoveCapacity</AlarmArn>\n        <AlarmConfigurationUpdatedTimestamp>2015-01-21T11:04:51.029Z</AlarmConfigurationUpdatedTimestamp>\n        <AlarmName>RemoveCapacity</AlarmName>\n        <Period>120</Period>\n        <StateValue>INSUFFICIENT_DATA</StateValue>\n        <OKActions/>\n        <ActionsEnabled>true</ActionsEnabled>\n        <EvaluationPeriods>2</EvaluationPeriods>\n        <Threshold>40.0</Threshold>\n        <Namespace>AWS/EC2</Namespace>\n        <Statistic>Average</Statistic>\n        <AlarmActions>\n          <member>arn:aws:autoscaling:sa-east-1:482693910459:scalingPolicy:db7b3c33-c1f3-4d5c-9392-2f50a201d9e4:autoScalingGroupName/test-asg:policyName/scalein</member>\n        </AlarmActions>\n        <StateReason>Unchecked: Initial alarm creation</StateReason>\n        <Dimensions>\n          <member>\n            <Name>AutoScalingGroupName</Name>\n            <Value>test-asg</Value>\n          </member>\n        </Dimensions>\n        <ComparisonOperator>LessThanOrEqualToThreshold</ComparisonOperator>\n        <MetricName>CPUUtilization</MetricName>\n      </member>\n    </MetricAlarms>\n  </DescribeAlarmsResult>\n  <ResponseMetadata>\n    <RequestId>5f5e17fc-a15d-11e4-98d7-1544e8f09411</RequestId>\n  </ResponseMetadata>\n</DescribeAlarmsResponse>\n"
      recorded_at: "Wed, 21 Jan 2015 11:05:15 GMT"
  recorded_with: "VCR 2.9.3"
