--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://autoscaling.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeAutoScalingGroups&Version=2011-01-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150121T111022Z"
          X-Amz-Content-Sha256: 
            - "64a4e32042052efcfb14e823e9f009f88d125e04f2dbe5c7b557bf0f91d7d463"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150121/sa-east-1/autoscaling/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=3a477002d3261fd0b7f024538b266abfc254069793595a9bbe0211c154fbfbf3"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "175cc1f4-a15e-11e4-b521-2361ee8cd3dd"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeAutoScalingGroupsResponse xmlns=\x22http://autoscaling.amazonaws.com/doc/2011-01-01/\x22>\n  <DescribeAutoScalingGroupsResult>\n    <AutoScalingGroups>\n      <member>\n        <Tags/>\n        <SuspendedProcesses/>\n        <AutoScalingGroupName>test-asg</AutoScalingGroupName>\n        <HealthCheckType>EC2</HealthCheckType>\n        <CreatedTime>2015-01-21T11:04:47.486Z</CreatedTime>\n        <EnabledMetrics/>\n        <LaunchConfigurationName>test-lc</LaunchConfigurationName>\n        <DesiredCapacity>2</DesiredCapacity>\n        <Instances>\n          <member>\n            <HealthStatus>Healthy</HealthStatus>\n            <AvailabilityZone>sa-east-1a</AvailabilityZone>\n            <InstanceId>i-c23b6cd7</InstanceId>\n            <LaunchConfigurationName>test-lc</LaunchConfigurationName>\n            <LifecycleState>InService</LifecycleState>\n          </member>\n          <member>\n            <HealthStatus>Healthy</HealthStatus>\n            <AvailabilityZone>sa-east-1b</AvailabilityZone>\n            <InstanceId>i-c133bad5</InstanceId>\n            <LaunchConfigurationName>test-lc</LaunchConfigurationName>\n            <LifecycleState>InService</LifecycleState>\n          </member>\n        </Instances>\n        <AvailabilityZones>\n          <member>sa-east-1a</member>\n          <member>sa-east-1b</member>\n        </AvailabilityZones>\n        <LoadBalancerNames/>\n        <MinSize>2</MinSize>\n        <VPCZoneIdentifier/>\n        <HealthCheckGracePeriod>0</HealthCheckGracePeriod>\n        <DefaultCooldown>300</DefaultCooldown>\n        <AutoScalingGroupARN>arn:aws:autoscaling:sa-east-1:482693910459:autoScalingGroup:52509ec2-f427-48d4-b6e9-0cddfd4f7a7a:autoScalingGroupName/test-asg</AutoScalingGroupARN>\n        <MaxSize>4</MaxSize>\n        <TerminationPolicies>\n          <member>Default</member>\n        </TerminationPolicies>\n      </member>\n    </AutoScalingGroups>\n  </DescribeAutoScalingGroupsResult>\n  <ResponseMetadata>\n    <RequestId>175cc1f4-a15e-11e4-b521-2361ee8cd3dd</RequestId>\n  </ResponseMetadata>\n</DescribeAutoScalingGroupsResponse>\n"
      recorded_at: "Wed, 21 Jan 2015 11:10:23 GMT"
[...]
