---
http_interactions:
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"family":"testtask","containerDefinitions":[{"cpu":1024,"environment":[{"name":"one","value":"one"},{"name":"two","value":"2"}],"essential":true,"image":"debian:jessie17","memory":512,"name":"zleslietesting","portMappings":[{"containerPort":8081,"hostPort":8082,"protocol":"tcp"}]},{"cpu":1024,"environment":[{"name":"one","value":"one"},{"name":"two","value":"2"}],"essential":true,"image":"debian:jessie17","memory":512,"name":"zleslietesting2","portMappings":[{"containerPort":8082,"hostPort":8083,"protocol":"tcp"}]}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.RegisterTaskDefinition
      X-Amz-Date:
      - 20170111T232134Z
      X-Amz-Content-Sha256:
      - 3aa835a0677bba08d97536cb29603c21e7c8ea311783248b37496009a2b0d912
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170111/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=29c2cc3010a2916514d8a1fcc8e00cc0fda5690caa0ab4d447f6b177ab5e7a19
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - b15440a7-d854-11e6-9bee-fdb066638639
    body:
      encoding: UTF-8
      string: '{"taskDefinition":{"containerDefinitions":[{"cpu":1024,"environment":[{"name":"two","value":"2"},{"name":"one","value":"one"}],"essential":true,"image":"debian:jessie17","memory":512,"mountPoints":[],"name":"zleslietesting","portMappings":[{"containerPort":8081,"hostPort":8082,"protocol":"tcp"}],"volumesFrom":[]},{"cpu":1024,"environment":[{"name":"two","value":"2"},{"name":"one","value":"one"}],"essential":true,"image":"debian:jessie17","memory":512,"mountPoints":[],"name":"zleslietesting2","portMappings":[{"containerPort":8082,"hostPort":8083,"protocol":"tcp"}],"volumesFrom":[]}],"family":"testtask","placementConstraints":[],"revision":7,"status":"ACTIVE","taskDefinitionArn":"arn:aws:ecs:us-west-2:123456789012:task-definition/testtask:7","volumes":[]}}'
  recorded_at: Wed, 11 Jan 2017 23:21:34 GMT
recorded_with: VCR 3.0.3
