--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&Filter.1.Name=tag%3AName&Filter.1.Value.1=web-1&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150225T121426Z"
          X-Amz-Content-Sha256: 
            - "42b7590d6fcede8c09f9f599a1f522a8e8169bd2235e1a36288abc85ecbddd2c"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150225/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=155d1a70595ab9e1dba87156054282b44462187d0bdae691ee65b6d3427f8f94"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>687f5a9e-3981-43d7-8e91-9abe3db4e643</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-16e7ae03</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-9717aa88</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-bea189ab</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-13-184.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-54-232-33-160.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-02-25T08:15:47.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.13.184</privateIpAddress>
                                <ipAddress>54.232.33.160</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-9717aa88</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-6f2ae073</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-02-25T08:15:51.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <tagSet>
                                    <item>
                                        <key>Name</key>
                                        <value>web-1</value>
                                    </item>
                                    <item>
                                        <key>project</key>
                                        <value>cloud</value>
                                    </item>
                                    <item>
                                        <key>created_by</key>
                                        <value>garethr</value>
                                    </item>
                                    <item>
                                        <key>department</key>
                                        <value>engineering</value>
                                    </item>
                                </tagSet>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Wed, 25 Feb 2015 12:14:28 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=AssociateAddress&InstanceId=i-bea189ab&PublicIp=177.71.189.57&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150225T121428Z"
          X-Amz-Content-Sha256: 
            - "09e0ef7c48c9af8625c29f7e8d2ad0b882d2f1b7e66f7e2507102bd24d202ee0"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150225/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=0e798c5dd4d1d7364eaf6acb453e9d341708511640a45fed419b09590a9c91d0"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AssociateAddressResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>a6d2bb10-6da4-448d-8d65-6580a60c8674</requestId>
                <return>true</return>
            </AssociateAddressResponse>
      recorded_at: "Wed, 25 Feb 2015 12:14:30 GMT"
  recorded_with: "VCR 2.9.3"
