---
http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListUsers&Version=2010-05-08
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160520T211454Z
      X-Amz-Content-Sha256:
      - b6359072c78d70ebee1e81adcbab4f01bf2c23245fa365ef83fe8f1f955085e2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=redacted/20160520/us-east-1/iam/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=270839ae34b9e857252ec574d90da7a1396864421914927c612f6bc938dbcbb3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e61b2219-1ecf-11e6-b905-2f308342ffb7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListUsersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUsersResult>
            <IsTruncated>false</IsTruncated>
            <Users>
              <member>
                <Path>/</Path>
                <PasswordLastUsed>2016-05-20T20:59:26Z</PasswordLastUsed>
                <UserName>zleslie</UserName>
                <Arn>arn:aws:iam::111111111111:user/zleslie</Arn>
                <UserId>AAAAAAAAAAAAAAAAAAAAA</UserId>
                <CreateDate>2016-05-20T20:58:02Z</CreateDate>
              </member>
              <member>
                <Path>/</Path>
                <UserName>zleslie2</UserName>
                <Arn>arn:aws:iam::111111111111:user/zleslie2</Arn>
                <UserId>AIDAJDVWXRMEXSPKTT6PW</UserId>
                <CreateDate>2016-05-20T21:13:24Z</CreateDate>
              </member>
              <member>
                <Path>/</Path>
                <UserName>zleslie3</UserName>
                <Arn>arn:aws:iam::111111111111:user/zleslie3</Arn>
                <UserId>AIDAJM7L5OUPVRIXYNEB6</UserId>
                <CreateDate>2016-05-20T21:13:24Z</CreateDate>
              </member>
            </Users>
          </ListUsersResult>
          <ResponseMetadata>
            <RequestId>e61b2219-1ecf-11e6-b905-2f308342ffb7</RequestId>
          </ResponseMetadata>
        </ListUsersResponse>
  recorded_at: Fri, 20 May 2016 21:14:54 GMT
[...]
