---
http_interactions:
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"serviceName":"testservice","desiredCount":0,"taskDefinition":"testtask","cluster":"test"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.CreateService
      X-Amz-Date:
      - 20170111T222401Z
      X-Amz-Content-Sha256:
      - 3b876237a5fbef0a66e55a768e21e062696348d7004323e70c6a611a4c30686e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170111/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=165676ac0310b87b5651cf96967719a47784948c338ba40b13340f2a6b54473e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - a75d4382-d84c-11e6-9fc4-c582c9263b89
    body:
      encoding: UTF-8
      string: '{"service":{"clusterArn":"arn:aws:ecs:us-west-2:123456789012:cluster/test","createdAt":1.484173441895E9,"deploymentConfiguration":{"maximumPercent":200,"minimumHealthyPercent":100},"deployments":[{"createdAt":1.484173441895E9,"desiredCount":0,"id":"ecs-svc/9223370552681333906","pendingCount":0,"runningCount":0,"status":"PRIMARY","taskDefinition":"arn:aws:ecs:us-west-2:123456789012:task-definition/testtask:6","updatedAt":1.484173441895E9},{"createdAt":1.484173289602E9,"desiredCount":0,"id":"ecs-svc/9223370552681486168","pendingCount":0,"runningCount":0,"status":"ACTIVE","taskDefinition":"arn:aws:ecs:us-west-2:123456789012:task-definition/testtask:6","updatedAt":1.484173289602E9}],"desiredCount":0,"events":[],"loadBalancers":[],"pendingCount":0,"placementConstraints":[],"placementStrategy":[],"runningCount":0,"serviceArn":"arn:aws:ecs:us-west-2:123456789012:service/testservice","serviceName":"testservice","status":"ACTIVE","taskDefinition":"arn:aws:ecs:us-west-2:123456789012:task-definition/testtask:6"}}'
  recorded_at: Wed, 11 Jan 2017 22:24:01 GMT
recorded_with: VCR 3.0.3
