--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&Filter.1.Name=group-name&Filter.1.Value.1=test-sg&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150226T093543Z"
          X-Amz-Content-Sha256: 
            - "6e6386f371346a1f675a62a24b338e1cdcf313983cb05e9ff04d56e067e574e4"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150226/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=d357e6729becae34826f2254fc63a362254153d7be48a60c44a689c15160fad3"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>75af7905-3ab3-44aa-bfa2-84771a01a58b</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-1f9b2700</groupId>
                        <groupName>test-sg</groupName>
                        <groupDescription>autoscaling test</groupDescription>
                        <ipPermissions/>
                        <ipPermissionsEgress/>
                    </item>
                </securityGroupInfo>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Thu, 26 Feb 2015 09:35:45 GMT"
    - request: 
        method: post
        uri: "https://autoscaling.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=CreateLaunchConfiguration&ImageId=ami-67a60d7a&InstanceType=t1.micro&LaunchConfigurationName=test-lc&SecurityGroups.member.1=sg-1f9b2700&Version=2011-01-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150226T093545Z"
          X-Amz-Content-Sha256: 
            - f3d089076865394ef48de6015546b70f88c7632271e3048e3af5f43153215d88
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150226/sa-east-1/autoscaling/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=f9acb0c710172b68aaa8772fd0b65f9829d2f758f0575c93a22866b14b0d3253"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - d6e962ce-bd9a-11e4-969e-6f369f4e5a35
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<CreateLaunchConfigurationResponse xmlns=\x22http://autoscaling.amazonaws.com/doc/2011-01-01/\x22>\n  <ResponseMetadata>\n    <RequestId>d6e962ce-bd9a-11e4-969e-6f369f4e5a35</RequestId>\n  </ResponseMetadata>\n</CreateLaunchConfigurationResponse>\n"
      recorded_at: "Thu, 26 Feb 2015 09:35:47 GMT"
  recorded_with: "VCR 2.9.3"
