--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://autoscaling.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=PutScalingPolicy&AdjustmentType=PercentChangeInCapacity&AutoScalingGroupName=test-asg&PolicyName=scalein&ScalingAdjustment=30&Version=2011-01-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150121T112904Z"
          X-Amz-Content-Sha256: 
            - "00f1176909ec474989d931a388a520e2f86abdb7d12a172366db1fde4694299f"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150121/sa-east-1/autoscaling/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=83301f766f90e912f5606c91a91f825f1f40660672df72ea4a5531317e80c1e4"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - b3f900b8-a160-11e4-9327-3fd440bc1d2b
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<PutScalingPolicyResponse xmlns=\x22http://autoscaling.amazonaws.com/doc/2011-01-01/\x22>\n  <PutScalingPolicyResult>\n    <PolicyARN>arn:aws:autoscaling:sa-east-1:482693910459:scalingPolicy:9fedd85e-27ec-4c8e-9713-00ad5164003f:autoScalingGroupName/test-asg:policyName/scalein</PolicyARN>\n  </PutScalingPolicyResult>\n  <ResponseMetadata>\n    <RequestId>b3f900b8-a160-11e4-9327-3fd440bc1d2b</RequestId>\n  </ResponseMetadata>\n</PutScalingPolicyResponse>\n"
      recorded_at: "Wed, 21 Jan 2015 11:29:05 GMT"
  recorded_with: "VCR 2.9.3"
