---
http_interactions:
- request:
    method: post
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone
    body:
      encoding: UTF-8
      string: |
        <CreateHostedZoneRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/">
          <Name>devopscentral.com.</Name>
          <CallerReference>513225554085e039e1670470be830f76</CallerReference>
          <HostedZoneConfig>
            <Comment></Comment>
          </HostedZoneConfig>
        </CreateHostedZoneRequest>
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20170228T211309Z
      X-Amz-Content-Sha256:
      - 6f431940676ccbff5e8b9307a606e65cd77b8db6ce2acf5136bb05e579e59ec4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170228/us-east-1/route53/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=ffdd04d87467fed66def140e2ef1e961e1c5f8f2cb0110d3c10aa018c42df7a1
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Amzn-Requestid:
      - b493dfb7-fdfa-11e6-bd0d-9d511825b2e3
      Location:
      - https://route53.amazonaws.com/2013-04-01/hostedzone/Z1Y34IMK1IXRPL
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <CreateHostedZoneResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZone><Id>/hostedzone/Z1Y34IMK1IXRPL</Id><Name>devopscentral.com.</Name><CallerReference>513225554085e039e1670470be830f76</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>2</ResourceRecordSetCount></HostedZone><ChangeInfo><Id>/change/C3EI17BP95EZVS</Id><Status>PENDING</Status><SubmittedAt>2017-02-28T21:13:09.561Z</SubmittedAt></ChangeInfo><DelegationSet><NameServers><NameServer>ns-235.awsdns-29.com</NameServer><NameServer>ns-2001.awsdns-58.co.uk</NameServer><NameServer>ns-953.awsdns-55.net</NameServer><NameServer>ns-1398.awsdns-46.org</NameServer></NameServers></DelegationSet></CreateHostedZoneResponse>
  recorded_at: Tue, 28 Feb 2017 21:13:09 GMT
recorded_with: VCR 3.0.3
