--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=redacted&Action=RunInstances&ImageId=ami-67a60d7a&InstanceType=t1.micro&MaxCount=1&MinCount=1&Placement.AvailabilityZone=sa-east-1a&SecurityGroup.1=web-sg&Signature=redacted%2Bh6uwC4cA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-03T14%3A00%3A45Z&UserData=&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>e840bed7-aa57-4305-934c-05ae99132d67</requestId>
                <reservationId>r-d1ae1bc4</reservationId>
                <ownerId>482693910459</ownerId>
                <groupSet>
                    <item>
                        <groupId>sg-d5d0f4c8</groupId>
                        <groupName>web-sg</groupName>
                    </item>
                </groupSet>
                <instancesSet>
                    <item>
                        <instanceId>i-e68e0cf3</instanceId>
                        <imageId>ami-67a60d7a</imageId>
                        <instanceState>
                            <code>0</code>
                            <name>pending</name>
                        </instanceState>
                        <privateDnsName/>
                        <dnsName/>
                        <reason/>
                        <amiLaunchIndex>0</amiLaunchIndex>
                        <productCodes/>
                        <instanceType>t1.micro</instanceType>
                        <launchTime>2014-10-03T14:00:46.000Z</launchTime>
                        <placement>
                            <availabilityZone>sa-east-1a</availabilityZone>
                            <groupName/>
                            <tenancy>default</tenancy>
                        </placement>
                        <kernelId>aki-5553f448</kernelId>
                        <monitoring>
                            <state>disabled</state>
                        </monitoring>
                        <groupSet>
                            <item>
                                <groupId>sg-d5d0f4c8</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <stateReason>
                            <code>pending</code>
                            <message>pending</message>
                        </stateReason>
                        <architecture>x86_64</architecture>
                        <rootDeviceType>ebs</rootDeviceType>
                        <rootDeviceName>/dev/sda1</rootDeviceName>
                        <blockDeviceMapping/>
                        <virtualizationType>paravirtual</virtualizationType>
                        <clientToken/>
                        <hypervisor>xen</hypervisor>
                        <networkInterfaceSet/>
                        <ebsOptimized>false</ebsOptimized>
                    </item>
                </instancesSet>
            </RunInstancesResponse>
      recorded_at: "Fri, 03 Oct 2014 14:00:47 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=redacted&Action=CreateTags&ResourceId.1=i-e68e0cf3&Signature=redacted%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Tag.1.Key=Name&Tag.1.Value=web-15&Timestamp=2014-10-03T14%3A00%3A47Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>a9d1c644-c734-4bb6-a126-0fab8dc3ab87</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Fri, 03 Oct 2014 14:00:48 GMT"
  recorded_with: "VCR 2.9.3"
