--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Filter.1.Name=tag%3AName&Filter.1.Value.1=test-vpc&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A42%3A40Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>158c8f06-acb1-4501-96ea-114e40fcf8b2</requestId>
                <vpcSet>
                    <item>
                        <vpcId>vpc-6853ea0d</vpcId>
                        <state>available</state>
                        <cidrBlock>10.0.0.0/16</cidrBlock>
                        <dhcpOptionsId>dopt-e5edfb87</dhcpOptionsId>
                        <tagSet>
                            <item>
                                <key>Name</key>
                                <value>test-vpc</value>
                            </item>
                        </tagSet>
                        <instanceTenancy>default</instanceTenancy>
                        <isDefault>false</isDefault>
                    </item>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Fri, 17 Oct 2014 13:42:41 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=CreateRouteTable&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A42%3A41Z&Version=2014-06-15&VpcId=vpc-6853ea0d"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateRouteTableResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>aa6e4da6-8e09-4438-90a0-645227995753</requestId>
                <routeTable>
                    <routeTableId>rtb-843fcee1</routeTableId>
                    <vpcId>vpc-6853ea0d</vpcId>
                    <routeSet>
                        <item>
                            <destinationCidrBlock>10.0.0.0/16</destinationCidrBlock>
                            <gatewayId>local</gatewayId>
                            <state>active</state>
                            <origin>CreateRouteTable</origin>
                        </item>
                    </routeSet>
                    <associationSet/>
                    <propagatingVgwSet/>
                    <tagSet/>
                </routeTable>
            </CreateRouteTableResponse>
      recorded_at: "Fri, 17 Oct 2014 13:42:42 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=CreateTags&ResourceId.1=rtb-843fcee1&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Tag.1.Key=Name&Tag.1.Value=test-route-table&Timestamp=2014-10-17T13%3A42%3A42Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>bbb43be9-60ae-4d8d-becd-2fa7c20ff312</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Fri, 17 Oct 2014 13:42:43 GMT"
  recorded_with: "VCR 2.9.3"
