--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Filter.1.Name=group-name&Filter.1.Value.1=web-sg&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T14%3A53%3A40Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            </DescribeSecurityGroupsResponse>
      recorded_at: "Thu, 16 Oct 2014 14:53:41 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=RunInstances&ImageId=ami-67a60d7a&InstanceType=t1.micro&MaxCount=1&MinCount=1&Placement.AvailabilityZone=sa-east-1a&SecurityGroupId.1=sg-9767478a&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T14%3A53%3A41Z&UserData=&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            </RunInstancesResponse>
      recorded_at: "Thu, 16 Oct 2014 14:53:43 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=CreateTags&ResourceId.1=i-b69004a3&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Tag.1.Key=Name&Tag.1.Value=web-15&Timestamp=2014-10-16T14%3A53%3A43Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>909ac466-f6a4-4379-82c9-98616d86554d</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Thu, 16 Oct 2014 14:53:44 GMT"
  recorded_with: "VCR 2.9.3"
