--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone"
        body: 
          encoding: UTF-8
          string: "<CreateHostedZoneRequest xmlns=\x22https://route53.amazonaws.com/doc/2013-04-01/\x22>\n  <Name>devopscentral.com</Name>\n  <CallerReference>e1277a98454434fa3b1926676a89f73a</CallerReference>\n</CreateHostedZoneRequest>\n"
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=redacted,Algorithm=HmacSHA256,Signature=redacted"
      response: 
        status: 
          code: 201
          message: Created
        headers: 
          X-Amzn-Requestid: 
            - "9d3fda45-4e13-11e4-b329-1de520403147"
          Location: 
            - "https://route53.amazonaws.com/2013-04-01//hostedzone/Z1WG8P3OIYT9CD"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <CreateHostedZoneResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZone><Id>/hostedzone/Z1WG8P3OIYT9CD</Id><Name>devopscentral.com.</Name><CallerReference>e1277a98454434fa3b1926676a89f73a</CallerReference><Config/><ResourceRecordSetCount>2</ResourceRecordSetCount></HostedZone><ChangeInfo><Id>/change/C373O1KYQE448G</Id><Status>PENDING</Status><SubmittedAt>2014-10-07T11:18:07.818Z</SubmittedAt></ChangeInfo><DelegationSet><NameServers><NameServer>ns-302.awsdns-37.com</NameServer><NameServer>ns-2003.awsdns-58.co.uk</NameServer><NameServer>ns-695.awsdns-22.net</NameServer><NameServer>ns-1045.awsdns-02.org</NameServer></NameServers></DelegationSet></CreateHostedZoneResponse>
      recorded_at: "Tue, 07 Oct 2014 11:18:08 GMT"
  recorded_with: "VCR 2.9.3"
