--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&Filter.1.Name=tag%3AName&Filter.1.Value.1=web-1&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150312T115135Z"
          X-Amz-Content-Sha256: 
            - "42b7590d6fcede8c09f9f599a1f522a8e8169bd2235e1a36288abc85ecbddd2c"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150312/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=469236e9e3cdf05ae2543589f339b881f03f4af4c10a7c479a8f1ca727a79c65"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>737f57eb-539b-4f17-8f5c-db40f7cc82bb</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-45396950</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-0b75ca14</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-773e0c62</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-11-68.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-54-94-84-106.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-03-09T14:40:46.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.11.68</privateIpAddress>
                                <ipAddress>54.94.84.106</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-0b75ca14</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-d903d0c5</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-03-09T14:40:49.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <tagSet>
                                    <item>
                                        <key>Name</key>
                                        <value>web-1</value>
                                    </item>
                                    <item>
                                        <key>created_by</key>
                                        <value>garethr</value>
                                    </item>
                                    <item>
                                        <key>project</key>
                                        <value>cloud</value>
                                    </item>
                                    <item>
                                        <key>department</key>
                                        <value>engineering</value>
                                    </item>
                                </tagSet>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Thu, 12 Mar 2015 11:51:37 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=AssociateAddress&InstanceId=i-773e0c62&PublicIp=177.71.189.57&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150312T115138Z"
          X-Amz-Content-Sha256: 
            - d627e406663bced61bba6323cbd68564bbbd6dc68ec72b8dc2bf4f012ba58e62
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150312/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=d75ad1c0dded85ef7c53aaea7a341098cc8ecc2644de74aa7471b4c060c276a2"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <AssociateAddressResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>47d5daa6-1e61-4957-932f-65e9dfe64285</requestId>
                <return>true</return>
            </AssociateAddressResponse>
      recorded_at: "Thu, 12 Mar 2015 11:51:39 GMT"
  recorded_with: "VCR 2.9.3"
