--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&Filter.1.Name=group-name&Filter.1.Value.1=web-sg&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103617Z"
          X-Amz-Content-Sha256: 
            - "6b4497d6ee1ed745d75df9ca73c1bda511e74d65487aa09a89cf131932ff2f24"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=a4637d841d629bc31b2458aca5ef8a027b350e34ac4dc19eca4affb25e4ee651"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>9c906fcf-c4bf-4ae9-9d3b-ccaa5e3403db</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-1b5eec04</groupId>
                        <groupName>web-sg</groupName>
                        <groupDescription>Security group for web servers</groupDescription>
                        <ipPermissions>
                            <item>
                                <ipProtocol>tcp</ipProtocol>
                                <fromPort>22</fromPort>
                                <toPort>22</toPort>
                                <groups/>
                                <ipRanges>
                                    <item>
                                        <cidrIp>0.0.0.0/0</cidrIp>
                                    </item>
                                </ipRanges>
                            </item>
                        </ipPermissions>
                        <ipPermissionsEgress/>
                    </item>
                </securityGroupInfo>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Mon, 09 Feb 2015 10:36:19 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=RunInstances&ImageId=ami-67a60d7a&InstanceType=t1.micro&MaxCount=1&MinCount=1&Monitoring.Enabled=false&Placement.AvailabilityZone=sa-east-1a&SecurityGroupId.1=sg-1b5eec04&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103619Z"
          X-Amz-Content-Sha256: 
            - "60e5044c1ad811b94983c675c32ae1fbdff8677f8d838d446f017af3a279f737"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=da3983b85e53365395ba43d4d02d028c809d93bcc4ff96fb0863309c6e067909"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>2e108f85-be4c-4c22-b38b-43355d4cc34e</requestId>
                <reservationId>r-f0682ce5</reservationId>
                <ownerId>482693910459</ownerId>
                <groupSet>
                    <item>
                        <groupId>sg-1b5eec04</groupId>
                        <groupName>web-sg</groupName>
                    </item>
                </groupSet>
                <instancesSet>
                    <item>
                        <instanceId>i-61fdd874</instanceId>
                        <imageId>ami-67a60d7a</imageId>
                        <instanceState>
                            <code>0</code>
                            <name>pending</name>
                        </instanceState>
                        <privateDnsName/>
                        <dnsName/>
                        <reason/>
                        <amiLaunchIndex>0</amiLaunchIndex>
                        <productCodes/>
                        <instanceType>t1.micro</instanceType>
                        <launchTime>2015-02-09T10:36:20.000Z</launchTime>
                        <placement>
                            <availabilityZone>sa-east-1a</availabilityZone>
                            <groupName/>
                            <tenancy>default</tenancy>
                        </placement>
                        <kernelId>aki-5553f448</kernelId>
                        <monitoring>
                            <state>disabled</state>
                        </monitoring>
                        <groupSet>
                            <item>
                                <groupId>sg-1b5eec04</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <stateReason>
                            <code>pending</code>
                            <message>pending</message>
                        </stateReason>
                        <architecture>x86_64</architecture>
                        <rootDeviceType>ebs</rootDeviceType>
                        <rootDeviceName>/dev/sda1</rootDeviceName>
                        <blockDeviceMapping/>
                        <virtualizationType>paravirtual</virtualizationType>
                        <clientToken/>
                        <hypervisor>xen</hypervisor>
                        <networkInterfaceSet/>
                        <ebsOptimized>false</ebsOptimized>
                    </item>
                </instancesSet>
            </RunInstancesResponse>
      recorded_at: "Mon, 09 Feb 2015 10:36:20 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&InstanceId.1=i-61fdd874&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103652Z"
          X-Amz-Content-Sha256: 
            - "80fab2f2c1dc1d0d1195f738efe4a89a235ef27d7482974ef927b1d2255abed5"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=aad0fd7428b3a443ee02eeee714226154989351983495540854fc0e3e95b26af"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>1010f377-87cf-4a25-9657-386a40e3ae6b</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-f0682ce5</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-1b5eec04</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-61fdd874</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-23-247.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-177-71-232-85.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-02-09T10:36:20.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.23.247</privateIpAddress>
                                <ipAddress>177.71.232.85</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-1b5eec04</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-0c0dce10</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-02-09T10:36:22.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Mon, 09 Feb 2015 10:36:54 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=CreateTags&ResourceId.1=i-61fdd874&Tag.1.Key=Name&Tag.1.Value=web-15&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103654Z"
          X-Amz-Content-Sha256: 
            - "92ba55831643a652754b2eec84f158362b537a15360d7808cd02aa907085a3f3"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=edb886aecb93e6e95ee2189b122aa94f8855c402fff56ccc578a1d7caabfafc9"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>7bd18cb1-3527-431a-a871-f9457df05229</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Mon, 09 Feb 2015 10:36:55 GMT"
  recorded_with: "VCR 2.9.3"
