--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&Filter.1.Name=group-name&Filter.1.Value.1=web-sg&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103531Z"
          X-Amz-Content-Sha256: 
            - "6b4497d6ee1ed745d75df9ca73c1bda511e74d65487aa09a89cf131932ff2f24"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=c7935ac33798300b112c9d6339b95f9be38a994ab0b8f07319570e48574d61e7"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>a5f46b6e-b0ca-4c27-ad9c-900c381de4d7</requestId>
                <securityGroupInfo/>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:33 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeAccountAttributes&AttributeName.1=supported-platforms&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103533Z"
          X-Amz-Content-Sha256: 
            - "219ae72f0dfc0da00185f47a4fad351b486699ecd2ffc7c53c029d4410bc6b16"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=1480bc2f61426f12891df9615003c5783e6473abd169fed82a391172e4fe8cc7"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeAccountAttributesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>895c7735-67bb-452e-9055-e64cc1e910ac</requestId>
                <accountAttributeSet>
                    <item>
                        <attributeName>supported-platforms</attributeName>
                        <attributeValueSet>
                            <item>
                                <attributeValue>EC2</attributeValue>
                            </item>
                            <item>
                                <attributeValue>VPC</attributeValue>
                            </item>
                        </attributeValueSet>
                    </item>
                </accountAttributeSet>
            </DescribeAccountAttributesResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:34 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=RunInstances&EbsOptimized=false&ImageId=ami-67a60d7a&InstanceInitiatedShutdownBehavior=stop&InstanceType=t1.micro&MaxCount=1&MinCount=1&Monitoring.Enabled=false&Placement.AvailabilityZone=sa-east-1a&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103534Z"
          X-Amz-Content-Sha256: 
            - f2a00a2768db110154d1894e8875a77af6a51287986417be51e9727a0215a5ec
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=d643458fe2f86858627e4dc847f62b2ef6a1a783de8975427221e1be53c3b46c"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>d2456bbe-360f-4c9d-9120-3c15ea17efdf</requestId>
                <reservationId>r-6e92c57b</reservationId>
                <ownerId>482693910459</ownerId>
                <groupSet>
                    <item>
                        <groupId>sg-2e409f33</groupId>
                        <groupName>default</groupName>
                    </item>
                </groupSet>
                <instancesSet>
                    <item>
                        <instanceId>i-ce4475db</instanceId>
                        <imageId>ami-67a60d7a</imageId>
                        <instanceState>
                            <code>0</code>
                            <name>pending</name>
                        </instanceState>
                        <privateDnsName/>
                        <dnsName/>
                        <reason/>
                        <amiLaunchIndex>0</amiLaunchIndex>
                        <productCodes/>
                        <instanceType>t1.micro</instanceType>
                        <launchTime>2015-03-05T10:35:35.000Z</launchTime>
                        <placement>
                            <availabilityZone>sa-east-1a</availabilityZone>
                            <groupName/>
                            <tenancy>default</tenancy>
                        </placement>
                        <kernelId>aki-5553f448</kernelId>
                        <monitoring>
                            <state>disabled</state>
                        </monitoring>
                        <groupSet>
                            <item>
                                <groupId>sg-2e409f33</groupId>
                                <groupName>default</groupName>
                            </item>
                        </groupSet>
                        <stateReason>
                            <code>pending</code>
                            <message>pending</message>
                        </stateReason>
                        <architecture>x86_64</architecture>
                        <rootDeviceType>ebs</rootDeviceType>
                        <rootDeviceName>/dev/sda1</rootDeviceName>
                        <blockDeviceMapping/>
                        <virtualizationType>paravirtual</virtualizationType>
                        <clientToken/>
                        <hypervisor>xen</hypervisor>
                        <networkInterfaceSet/>
                        <ebsOptimized>false</ebsOptimized>
                    </item>
                </instancesSet>
            </RunInstancesResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:35 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=CreateTags&ResourceId.1=i-ce4475db&Tag.1.Key=Name&Tag.1.Value=web-15&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103535Z"
          X-Amz-Content-Sha256: 
            - a6606bd604292978a61cc60ad0fe47ff5522f35cdacda7fa095be62100742d32
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=21a5ec78e813fae9f9dc89af072c35fe651dded34fe8b1c2cb58bd14ef9a8a90"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>6a0744e5-e957-4bc0-8bb7-57afb447a483</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:37 GMT"
  recorded_with: "VCR 2.9.3"
