---
http_interactions:
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.ListTaskDefinitionFamilies
      X-Amz-Date:
      - 20170112T185158Z
      X-Amz-Content-Sha256:
      - 264e28f424ac2f00738ee11c418ac9a1666d7f44940f512ab9a9e105711a2f39
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170112/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=2c695e71a7cd0dd7c45f81ef40b7639b922807b6963e10350a02df301c43ffd3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 31ebe194-d8f8-11e6-b00d-cb0e37bed37c
    body:
      encoding: UTF-8
      string: '{"families":["netflix-ice","netflix-ice2","testtask"]}'
  recorded_at: Thu, 12 Jan 2017 18:51:58 GMT
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"taskDefinition":"netflix-ice"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.DescribeTaskDefinition
      X-Amz-Date:
      - 20170112T185158Z
      X-Amz-Content-Sha256:
      - 75840101855fab3849b65b3c028f259060cd7e7d9616c8a57ba19fda19df23ae
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170112/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=98f59dac299fa7554bd06bbf21916f4f79bb31100c4c0be5a5d9865f3c758d9d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 3212a338-d8f8-11e6-857b-29512a0ad198
    body:
      encoding: UTF-8
      string: '{"taskDefinition":{"containerDefinitions":[{"cpu":1024,"environment":[{"name":"two","value":"2"},{"name":"one","value":"one"}],"essential":true,"image":"debian:jessie17","memory":512,"mountPoints":[],"name":"zleslietesting","portMappings":[{"containerPort":8081,"hostPort":8082,"protocol":"tcp"}],"volumesFrom":[]}],"family":"netflix-ice","revision":52,"status":"ACTIVE","taskDefinitionArn":"arn:aws:ecs:us-west-2:123456789012:task-definition/netflix-ice:52","volumes":[]}}'
  recorded_at: Thu, 12 Jan 2017 18:51:58 GMT
[...]
