--- 
  http_interactions: 
    - request: 
        method: get
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone"
        body: 
          encoding: ASCII-8BIT
          string: ""
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=,Algorithm=HmacSHA256,Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - e05dd778-7948-11e4-9502-db73aebf6864
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z11A654ME5UD0C</Id><Name>devopscentral.com.</Name><CallerReference>d29893c4732c33e760b3252b50690a4c</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>3</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesResponse>
      recorded_at: "Mon, 01 Dec 2014 10:57:41 GMT"
    - request: 
        method: post
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone/Z11A654ME5UD0C/rrset/"
        body: 
          encoding: UTF-8
          string: "<ChangeResourceRecordSetsRequest xmlns=\x22https://route53.amazonaws.com/doc/2013-04-01/\x22>\n  <ChangeBatch>\n    <Changes>\n      <Change>\n        <Action>DELETE</Action>\n        <ResourceRecordSet>\n          <Name>local.devopscentral.com.</Name>\n          <Type>A</Type>\n          <TTL>3000</TTL>\n          <ResourceRecords>\n            <ResourceRecord>\n              <Value>127.0.0.1</Value>\n            </ResourceRecord>\n          </ResourceRecords>\n        </ResourceRecordSet>\n      </Change>\n    </Changes>\n  </ChangeBatch>\n</ChangeResourceRecordSetsRequest>\n"
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=Algorithm=HmacSHA256,Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - e090a75b-7948-11e4-9502-db73aebf6864
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/C2QST4U1MGFD2C</Id><Status>PENDING</Status><SubmittedAt>2014-12-01T10:57:44.048Z</SubmittedAt></ChangeInfo></ChangeResourceRecordSetsResponse>
      recorded_at: "Mon, 01 Dec 2014 10:57:42 GMT"
  recorded_with: "VCR 2.9.3"
