--- 
  http_interactions: 
    - request: 
        method: get
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone"
        body: 
          encoding: ASCII-8BIT
          string: ""
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=redacted,Algorithm=HmacSHA256,Signature=redacted"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "1c74a8fb-4e13-11e4-99af-4f00d7e73c16"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z3VO2BZMEQK733</Id><Name>devopscentral.com.</Name><CallerReference>652b4c6ed3a75cf27e37f5736d7bf77c</CallerReference><Config/><ResourceRecordSetCount>2</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesResponse>
      recorded_at: "Tue, 07 Oct 2014 11:14:32 GMT"
    - request: 
        method: delete
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone/Z3VO2BZMEQK733"
        body: 
          encoding: ASCII-8BIT
          string: ""
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=redacted,Algorithm=HmacSHA256,Signature=redacted"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "1cc31742-4e13-11e4-87ed-e9f2af50b6a1"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <DeleteHostedZoneResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/C2QMH6QN3T9U3P</Id><Status>PENDING</Status><SubmittedAt>2014-10-07T11:14:32.249Z</SubmittedAt></ChangeInfo></DeleteHostedZoneResponse>
      recorded_at: "Tue, 07 Oct 2014 11:14:33 GMT"
  recorded_with: "VCR 2.9.3"
