--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeInternetGateways&Filter.1.Name=tag%3AName&Filter.1.Value.1=test-gateway&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A18%3A29Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInternetGatewaysResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>e9bf364c-ccaf-47b8-a364-6c242843ee07</requestId>
                <internetGatewaySet>
                    <item>
                        <internetGatewayId>igw-59edf63b</internetGatewayId>
                        <attachmentSet>
                            <item>
                                <vpcId>vpc-6853ea0d</vpcId>
                                <state>available</state>
                            </item>
                        </attachmentSet>
                        <tagSet>
                            <item>
                                <key>Name</key>
                                <value>test-gateway</value>
                            </item>
                        </tagSet>
                    </item>
                </internetGatewaySet>
            </DescribeInternetGatewaysResponse>
      recorded_at: "Fri, 17 Oct 2014 13:18:30 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DetachInternetGateway&InternetGatewayId=igw-59edf63b&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A18%3A30Z&Version=2014-06-15&VpcId=vpc-6853ea0d"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DetachInternetGatewayResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>1b73b46a-1b5b-4f1b-a134-fb1fb8bb0ab4</requestId>
                <return>true</return>
            </DetachInternetGatewayResponse>
      recorded_at: "Fri, 17 Oct 2014 13:18:31 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DeleteInternetGateway&InternetGatewayId=igw-59edf63b&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A18%3A31Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DeleteInternetGatewayResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>490ffa16-e549-4dbc-ba78-9a1c3d36668f</requestId>
                <return>true</return>
            </DeleteInternetGatewayResponse>
      recorded_at: "Fri, 17 Oct 2014 13:18:33 GMT"
  recorded_with: "VCR 2.9.3"
