--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeRouteTables&Filter.1.Name=tag%3AName&Filter.1.Value.1=test-route-table&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A40%3A00Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeRouteTablesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>404f9554-ca74-4e1d-af4f-110d2bcf6738</requestId>
                <routeTableSet>
                    <item>
                        <routeTableId>rtb-b43fced1</routeTableId>
                        <vpcId>vpc-6853ea0d</vpcId>
                        <routeSet>
                            <item>
                                <destinationCidrBlock>10.0.0.0/16</destinationCidrBlock>
                                <gatewayId>local</gatewayId>
                                <state>active</state>
                                <origin>CreateRouteTable</origin>
                            </item>
                        </routeSet>
                        <associationSet/>
                        <propagatingVgwSet/>
                        <tagSet>
                            <item>
                                <key>Name</key>
                                <value>test-route-table</value>
                            </item>
                        </tagSet>
                    </item>
                </routeTableSet>
            </DescribeRouteTablesResponse>
      recorded_at: "Fri, 17 Oct 2014 13:40:01 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DeleteRouteTable&RouteTableId=rtb-b43fced1&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A40%3A01Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DeleteRouteTableResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>71f0133b-eb97-405e-86b1-9dd638f5a967</requestId>
                <return>true</return>
            </DeleteRouteTableResponse>
      recorded_at: "Fri, 17 Oct 2014 13:40:02 GMT"
  recorded_with: "VCR 2.9.3"
