---
http_interactions:
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.ListClusters
      X-Amz-Date:
      - 20160801T223714Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=redacterd/20160801/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=703de8a29d4515513c54ddced9fe6c9df7b259b0ac55e25959993b72124a5969
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 7ea9f860-5838-11e6-b123-0d6ff5d80840
    body:
      encoding: UTF-8
      string: '{"clusterArns":["arn:aws:ecs:us-west-2:111111111111:cluster/zleslie"]}'
  recorded_at: Mon, 01 Aug 2016 22:37:14 GMT
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"cluster":"arn:aws:ecs:us-west-2:111111111111:cluster/zleslie"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.ListServices
      X-Amz-Date:
      - 20160801T223714Z
      X-Amz-Content-Sha256:
      - 537b417af8208177ebdbb47afcfa6462c3b19bc144ea126047855a6c4821ff3b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=redacterd/20160801/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=cd9f15da552331aa29f4b8bd67d5380f28854451cacfa83d791ba27c48ff6043
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 7ec08e49-5838-11e6-977d-5f5e74dc3386
    body:
      encoding: UTF-8
      string: '{"serviceArns":["arn:aws:ecs:us-west-2:111111111111:service/netflix-ice"]}'
  recorded_at: Mon, 01 Aug 2016 22:37:14 GMT
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"cluster":"arn:aws:ecs:us-west-2:111111111111:cluster/zleslie","services":["arn:aws:ecs:us-west-2:111111111111:service/netflix-ice"]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.DescribeServices
      X-Amz-Date:
      - 20160801T223714Z
      X-Amz-Content-Sha256:
      - c44e35d7bb974d8a0a562b33d09e355e6b6964a1e35bd4850163aaa80c29ca30
      Authorization:
      - AWS4-HMAC-SHA256 Credential=redacterd/20160801/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=66300138122f70c298e4556a59a2c5f1fcba8e60f4cc9ca39b0af66489c0bac1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 7ed30432-5838-11e6-b123-0d6ff5d80840
    body:
      encoding: UTF-8
      string: '{"failures":[],"services":[{"clusterArn":"arn:aws:ecs:us-west-2:111111111111:cluster/zleslie","createdAt":1.469637628671E9,"deploymentConfiguration":{"maximumPercent":200,"minimumHealthyPercent":100},"deployments":[{"createdAt":1.469637628671E9,"desiredCount":0,"id":"ecs-svc/9223370567217147128","pendingCount":0,"runningCount":0,"status":"PRIMARY","taskDefinition":"arn:aws:ecs:us-west-2:111111111111:task-definition/netflix-ice:30","updatedAt":1.469637628671E9}],"desiredCount":0,"events":[{"createdAt":1.470069887643E9,"id":"afeb8fc9-7dff-425d-9723-9dc6392702b3","message":"(service
        netflix-ice) has reached a steady state."},{"createdAt":1.470048261521E9,"id":"ba93794a-ddee-47a8-87b0-c5282b1c3f03","message":"(service
        netflix-ice) has reached a steady state."},{"createdAt":1.470026639099E9,"id":"cec1c78f-301e-4593-b7fd-79b9f907052f","message":"(service
        netflix-ice) has reached a steady state."},{"createdAt":1.470005024165E9,"id":"41769e97-fb45-4600-abb7-5561[...]
[...]
