---
http_interactions:
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.ListTaskDefinitionFamilies
      X-Amz-Date:
      - 20160727T001519Z
      X-Amz-Content-Sha256:
      - 264e28f424ac2f00738ee11c418ac9a1666d7f44940f512ab9a9e105711a2f39
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AAAAAAAAAAAAAAAAAAAAA/20160727/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=85f9ae5ef4c74cd242ea6675bf96d6174f2c39bf15830ef7e1976270f6fa86b1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 34157938-538f-11e6-b537-c5d54ab9cbd5
    body:
      encoding: UTF-8
      string: '{"families":["netflix-ice"]}'
  recorded_at: Wed, 27 Jul 2016 00:15:20 GMT
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"taskDefinition":"netflix-ice"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.DescribeTaskDefinition
      X-Amz-Date:
      - 20160727T001520Z
      X-Amz-Content-Sha256:
      - 75840101855fab3849b65b3c028f259060cd7e7d9616c8a57ba19fda19df23ae
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AAAAAAAAAAAAAAAAAAAAA/20160727/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=2368db17b3f3886fcb0532b47c2d0d2e262b34d8a55bd66ce6df0c7676ba0a87
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 34272c92-538f-11e6-8f3f-af71e704ebce
    body:
      encoding: UTF-8
      string: '{"taskDefinition":{"containerDefinitions":[{"cpu":1,"environment":[],"essential":false,"image":"debian:jessie","memory":256,"mountPoints":[],"name":"two","portMappings":[],"volumesFrom":[]},{"cpu":1021,"environment":[{"name":"two","value":"2"},{"name":"one","value":"1"}],"essential":true,"image":"debian:jessie","memory":512,"mountPoints":[],"name":"zleslietesting","portMappings":[{"containerPort":8080,"hostPort":8080,"protocol":"tcp"},{"containerPort":8081,"hostPort":8082,"protocol":"tcp"}],"volumesFrom":[]}],"family":"netflix-ice","revision":29,"status":"ACTIVE","taskDefinitionArn":"arn:aws:ecs:us-west-2:111111111111:task-definition/netflix-ice:29","volumes":[]}}'
  recorded_at: Wed, 27 Jul 2016 00:15:20 GMT
[...]
