---
http_interactions:
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"status":"ACTIVE"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.ListTaskDefinitionFamilies
      X-Amz-Date:
      - 20170111T232132Z
      X-Amz-Content-Sha256:
      - 264e28f424ac2f00738ee11c418ac9a1666d7f44940f512ab9a9e105711a2f39
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170111/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=e6fc3f2ca3d12cf9affa6da64fcc74a9cb3d2f11750a89ac4c58820a1bc62a3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - b06f5f7c-d854-11e6-b3b3-f758afa069bf
    body:
      encoding: UTF-8
      string: '{"families":["netflix-ice","netflix-ice2","testtask"]}'
  recorded_at: Wed, 11 Jan 2017 23:21:33 GMT
- request:
    method: post
    uri: https://ecs.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"taskDefinition":"netflix-ice"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.DescribeTaskDefinition
      X-Amz-Date:
      - 20170111T232133Z
      X-Amz-Content-Sha256:
      - 75840101855fab3849b65b3c028f259060cd7e7d9616c8a57ba19fda19df23ae
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170111/us-west-2/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=8aa83515074c7e6c4463958892642088563f972021d6c40194e76100834fbf8c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - b085f3c1-d854-11e6-b3b3-f758afa069bf
    body:
      encoding: UTF-8
      string: '{"taskDefinition":{"containerDefinitions":[{"cpu":1024,"environment":[{"name":"two","value":"2"},{"name":"one","value":"one"}],"essential":true,"image":"debian:jessie17","memory":512,"mountPoints":[],"name":"zleslietesting","portMappings":[{"containerPort":8081,"hostPort":8082,"protocol":"tcp"}],"volumesFrom":[]}],"family":"netflix-ice","revision":52,"status":"ACTIVE","taskDefinitionArn":"arn:aws:ecs:us-west-2:123456789012:task-definition/netflix-ice:52","volumes":[]}}'
  recorded_at: Wed, 11 Jan 2017 23:21:33 GMT
[...]
