--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://elasticloadbalancing.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150219T131206Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150219/sa-east-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=4c018c71334fdb88837e509396dbe0ef1be90a923ddac266fd22fce1a9814713"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - e820084b-b838-11e4-a812-754bf84275e1
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions>\n      <member>\n        <SecurityGroups/>\n        <LoadBalancerName>garethrProed3b61536416444c8b742</LoadBalancerName>\n        <CreatedTime>2015-02-19T11:44:43.210Z</CreatedTime>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout>5</Timeout>\n          <UnhealthyThreshold>2</UnhealthyThreshold>\n        </HealthCheck>\n        <ListenerDescriptions>\n          <member>\n            <PolicyNames/>\n            <Listener>\n              <Protocol>TCP</Protocol>\n              <LoadBalancerPort>80</LoadBalancerPort>\n              <InstanceProtocol>TCP</InstanceProtocol>\n              <InstancePort>80</InstancePort>\n            </Listener>\n          </member>\n        </ListenerDescriptions>\n        <Instances>\n          <member>\n            <InstanceId>i-e06944f5</InstanceId>\n          </member>\n        </Instances>\n        <Policies>\n          <AppCookieStickinessPolicies/>\n          <OtherPolicies/>\n          <LBCookieStickinessPolicies/>\n        </Policies>\n        <AvailabilityZones>\n          <member>sa-east-1a</member>\n          <member>sa-east-1b</member>\n        </AvailabilityZones>\n        <CanonicalHostedZoneNameID>Z2ES78Y61JGQKS</CanonicalHostedZoneNameID>\n        <CanonicalHostedZoneName>garethrProed3b61536416444c8b742-886078075.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>\n        <Scheme>internet-facing</Scheme>\n        <SourceSecurityGroup>\n          <OwnerAlias>amazon-elb</OwnerAlias>\n          <GroupName>amazon-elb-sg</GroupName>\n        </SourceSecurityGroup>\n        <DNSName>garethrProed3b61536416444c8b742-886078075.sa-east-1.elb.amazonaws.com</DNSName>\n        <BackendServerDescriptions/>\n        <Subnets/>\n      </member>\n      <member>\n        <SecurityGroups/>\n        <LoadBalancerName>garethrPro09dbc77f59cd476a82a44</LoadBalancerName>\n        <CreatedTime>2015-02-19T11:47:35.120Z</CreatedTime>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&InstanceId.1=i-e06944f5&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150219T131208Z"
          X-Amz-Content-Sha256: 
            - "9475874c018c2c03c4a93de1947197037608ff464c6bd1a44e059d5f664f8964"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150219/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=5e8d5434bc31aa6af0c78aab473f581324b77eed840b8ba88b3e103567d2a2b1"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
          Cneonction: 
            - close
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>7a5c5359-3bfc-4952-a485-99fb4134d421</requestId>
                <reservationSet>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Thu, 19 Feb 2015 13:12:09 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeTags&LoadBalancerNames.member.1=garethrProed3b61536416444c8b742&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150219T131209Z"
          X-Amz-Content-Sha256: 
            - "4f92033359cb32556b7e192a5e17070c1be1d17d0ce9485b4770551f4781de74"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150219/sa-east-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=ab735996612eb0b5ffd51258d970a056e936df822782c9521292a48a1df70d8e"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - ea6b30ac-b838-11e4-8230-09161d0c23f4
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeTagsResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeTagsResult>\n    <TagDescriptions>\n      <member>\n        <Tags>\n          <member>\n            <Value>aws-acceptance</Value>\n            <Key>created_by</Key>\n          </member>\n          <member>\n            <Value>garethrProed3b61536416444c8b742</Value>\n            <Key>Name</Key>\n          </member>\n          <member>\n            <Value>cloud</Value>\n            <Key>project</Key>\n          </member>\n          <member>\n            <Value>engineering</Value>\n            <Key>department</Key>\n          </member>\n          <member>\n            <Value>polo</Value>\n            <Key>marco</Key>\n          </member>\n        </Tags>\n        <LoadBalancerName>garethrProed3b61536416444c8b742</LoadBalancerName>\n      </member>\n    </TagDescriptions>\n  </DescribeTagsResult>\n  <ResponseMetadata>\n    <RequestId>ea6b30ac-b838-11e4-8230-09161d0c23f4</RequestId>\n  </ResponseMetadata>\n</DescribeTagsResponse>\n"
      recorded_at: "Thu, 19 Feb 2015 13:12:12 GMT"
[...]
