--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeRegions&Signature=%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A26%3A44Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeRegionsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>b6289495-08af-40cb-ae0d-1ddf42ac7b49</requestId>
                <regionInfo>
                    <item>
                        <regionName>eu-west-1</regionName>
                        <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>sa-east-1</regionName>
                        <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>us-east-1</regionName>
                        <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
  [...]
    - request: 
        method: post
        uri: "https://elasticloadbalancing.eu-west-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092645Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=/20141009/eu-west-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "63055539-4f96-11e4-b60a-49f21697c225"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>63055539-4f96-11e4-b60a-49f21697c225</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:26:46 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092646Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=/20141009/sa-east-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "63ab59bf-4f96-11e4-8283-09755d40625c"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions>\n      <member>\n        <SecurityGroups/>\n        <CreatedTime>2014-10-06T12:24:38.300Z</CreatedTime>\n        <LoadBalancerName>lb-1</LoadBalancerName>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout>5</Timeout>\n          <UnhealthyThreshold>2</UnhealthyThreshold>\n        </HealthCheck>\n        <ListenerDescriptions>\n          <member>\n            <PolicyNames/>\n            <Listener>\n              <Protocol>TCP</Protocol>\n              <LoadBalancerPort>80</LoadBalancerPort>\n              <InstanceProtocol>TCP</InstanceProtocol>\n              <InstancePort>80</InstancePort>\n            </Listener>\n          </member>\n        </ListenerDescriptions>\n        <Instances/>\n        <Policies>\n          <AppCookieStickinessPolicies/>\n          <OtherPolicies/>\n          <LBCookieStickinessPolicies/>\n        </Policies>\n        <AvailabilityZones>\n          <member>sa-east-1a</member>\n        </AvailabilityZones>\n        <CanonicalHostedZoneName>lb-1-1921771875.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>\n        <CanonicalHostedZoneNameID>Z2ES78Y61JGQKS</CanonicalHostedZoneNameID>\n        <Scheme>internet-facing</Scheme>\n        <SourceSecurityGroup>\n          <OwnerAlias>amazon-elb</OwnerAlias>\n          <GroupName>amazon-elb-sg</GroupName>\n        </SourceSecurityGroup>\n        <DNSName>lb-1-1921771875.sa-east-1.elb.amazonaws.com</DNSName>\n        <BackendServerDescriptions/>\n        <Subnets/>\n      </member>\n    </LoadBalancerDescriptions>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>63ab59bf-4f96-11e4-8283-09755d40625c</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:26:47 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.us-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092647Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
       [...]
    - request: 
        method: post
        uri: "https://elasticloadbalancing.ap-northeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092648Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=/20141009/ap-northeast-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "65294650-4f96-11e4-9793-f30b75b5c157"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>65294650-4f96-11e4-9793-f30b75b5c157</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:26:49 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.us-west-2.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092649Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
       [...]
[...]
    - request: 
        method: post
        uri: "https://elasticloadbalancing.ap-southeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092651Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=/20141009/ap-southeast-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "673d812b-4f96-11e4-ab39-3522bf3f7205"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>673d812b-4f96-11e4-ab39-3522bf3f7205</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:26:53 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.ap-southeast-2.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092653Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=/20141009/ap-southeast-2/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "68599f0c-4f96-11e4-9b92-65675ce99c7a"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>68599f0c-4f96-11e4-9b92-65675ce99c7a</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:26:55 GMT"
  recorded_with: "VCR 2.9.3"
