--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://elasticloadbalancing.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150212T113908Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150212/sa-east-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=6c28d793dc7adc2dd0973bb59eeccbd2cf377b9691c0d1dce37286bddbcaca05"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - c23b862e-b2ab-11e4-8ca5-1fe6c957688e
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions>\n      <member>\n        <SecurityGroups/>\n        <CreatedTime>2015-02-10T17:40:38.600Z</CreatedTime>\n        <LoadBalancerName>garethrPro563375cc1fc542948772f</LoadBalancerName>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout>5</Timeout>\n          <UnhealthyThreshold>2</UnhealthyThreshold>\n        </HealthCheck>\n        <ListenerDescriptions>\n          <member>\n            <PolicyNames/>\n            <Listener>\n              <Protocol>TCP</Protocol>\n              <LoadBalancerPort>80</LoadBalancerPort>\n              <InstanceProtocol>TCP</InstanceProtocol>\n              <InstancePort>80</InstancePort>\n            </Listener>\n          </member>\n        </ListenerDescriptions>\n        <Instances/>\n        <Policies>\n          <AppCookieStickinessPolicies/>\n          <OtherPolicies/>\n          <LBCookieStickinessPolicies/>\n        </Policies>\n        <AvailabilityZones>\n          <member>sa-east-1a</member>\n          <member>sa-east-1b</member>\n        </AvailabilityZones>\n        <CanonicalHostedZoneName>garethrPro563375cc1fc542948772f-2097213927.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>\n        <CanonicalHostedZoneNameID>Z2ES78Y61JGQKS</CanonicalHostedZoneNameID>\n        <Scheme>internet-facing</Scheme>\n        <SourceSecurityGroup>\n          <OwnerAlias>amazon-elb</OwnerAlias>\n          <GroupName>amazon-elb-sg</GroupName>\n        </SourceSecurityGroup>\n        <DNSName>garethrPro563375cc1fc542948772f-2097213927.sa-east-1.elb.amazonaws.com</DNSName>\n        <BackendServerDescriptions/>\n        <Subnets/>\n      </member>\n      <member>\n        <SecurityGroups/>\n        <CreatedTime>2015-02-12T11:03:45.250Z</CreatedTime>\n        <LoadBalancerName>lb-1</LoadBalancerName>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout>5</Timeout>\n          <UnhealthyThreshold>2</UnhealthyThreshold>\n        </HealthCheck>\n        <ListenerDescriptions>\n          <member>\n            <PolicyNames/>\n            <Listener>\n              <Protocol>TCP</Protocol>\n              <LoadBalancerPort>80</LoadBalancerPort>\n              <InstanceProtocol>TCP</InstanceProtocol>\n              <InstancePort>80</InstancePort>\n            </Listener>\n          </member>\n        </ListenerDescriptions>\n        <Instances>\n          <member>\n            <InstanceId>i-29bb9c3c</InstanceId>\n          </member>\n          <member>\n            <InstanceId>i-2abb9c3f</InstanceId>\n          </member>\n        </Instances>\n        <Policies>\n          <AppCookieStickinessPolicies/>\n          <OtherPolicies/>\n          <LBCookieStickinessPolicies/>\n        </Policies>\n        <AvailabilityZones>\n          <member>sa-east-1a</member>\n        </AvailabilityZones>\n        <CanonicalHostedZoneName>lb-1-1504396372.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>\n        <CanonicalHostedZoneNameID>Z2ES78Y61JGQKS</CanonicalHostedZoneNameID>\n        <Scheme>internet-facing</Scheme>\n        <SourceSecurityGroup>\n          <OwnerAlias>amazon-elb</OwnerAlias>\n          <GroupName>amazon-elb-sg</GroupName>\n        </SourceSecurityGroup>\n        <DNSName>lb-1-1504396372.sa-east-1.elb.amazonaws.com</DNSName>\n        <BackendServerDescriptions/>\n        <Subnets/>\n      </member>\n    </LoadBalancerDescriptions>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>c23b862e-b2ab-11e4-8ca5-1fe6c957688e</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 12 Feb 2015 11:39:10 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&InstanceId.1=i-29bb9c3c&InstanceId.2=i-2abb9c3f&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150212T113910Z"
          X-Amz-Content-Sha256: 
            - f2a8a4daa9fcd713d82635cfc55a60cb0eb6bb2da4c2cee1a42cbf87b7857d9a
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150212/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=dc8e0d35f32feba22089a33e590410a6bd28451adcbbf7455f624ed65b8e31de"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>acfed35d-f778-4d8d-9f78-8559b6bb3824</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-5f53154a</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-55f74a4a</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-2abb9c3f</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-19-241.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-54-232-56-99.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-02-12T10:57:35.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.19.241</privateIpAddress>
                                <ipAddress>54.232.56.99</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-55f74a4a</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-eead60f2</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-02-12T10:57:38.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <tagSet>
                                    <item>
                                        <key>project</key>
                                        <value>cloud</value>
                                    </item>
                                    <item>
                                        <key>Name</key>
                                        <value>web-1</value>
                                    </item>
                                    <item>
                                        <key>created_by</key>
                                        <value>garethr</value>
                                    </item>
                                    <item>
                                        <key>department</key>
                                        <value>engineering</value>
                                    </item>
                                </tagSet>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                    <item>
                        <reservationId>r-5c531549</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-55f74a4a</groupId>
                                <groupName>web-sg</groupName>
                            </i[...]
[...]
