---
http_interactions:
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000509Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=6fa8742a238766a1dc81e3cd44873ab2ed9e944e7b111f3654019cec3f749549
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c73f36b9-dd11-11e6-846d-71c7730df7c3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions>
              <member>
                <CanonicalHostedZoneNameID>Z2P70J7HTTTPLU</CanonicalHostedZoneNameID>
                <VPCId>vpc-8f0019ea</VPCId>
                <Scheme>internet-facing</Scheme>
                <Instances/>
                <Policies>
                  <AppCookieStickinessPolicies/>
                  <LBCookieStickinessPolicies/>
                  <OtherPolicies>
                    <member>AWSConsole-SSLNegotiationPolicy-lb-1-1484696260015</member>
                    <member>ELBSecurityPolicy-2016-08</member>
                  </OtherPolicies>
                </Policies>
                <AvailabilityZones>
                  <member>sa-east-1a</member>
                </AvailabilityZones>
                <DNSName>lb-1-22921474.sa-east-1.elb.amazonaws.com</DNSName>
                <BackendServerDescriptions/>
                <SourceSecurityGroup>
                  <OwnerAlias>123456789012</OwnerAlias>
                  <GroupName>default_elb_623306e1-2dd9-3d43-b10d-da5d3df14af2</GroupName>
                </SourceSecurityGroup>
                <LoadBalancerName>lb-1</LoadBalancerName>
                <ListenerDescriptions>
                  <member>
                    <Listener>
                      <InstancePort>80</InstancePort>
                      <InstanceProtocol>TCP</InstanceProtocol>
                      <Protocol>TCP</Protocol>
                      <LoadBalancerPort>80</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                  <member>
                    <Listener>
                      <InstancePort>443</InstancePort>
                      <SSLCertificateId>arn:aws:iam::123456789012:server-certificate/zleslie-2016</SSLCertificateId>
                      <InstanceProtocol>HTTP</InstanceProtocol>
                      <Protocol>HTTPS</Protocol>
                      <LoadBalancerPort>443</LoadBalancerPort>
                    </Listener>
                    <PolicyNames>
                      <member>AWSConsole-SSLNegotiationPolicy-lb-1-1484696260015</member>
                    </PolicyNames>
                  </member>
                </ListenerDescriptions>
                <HealthCheck>
                  <UnhealthyThreshold>2</UnhealthyThreshold>
                  <Interval>30</Interval>
                  <HealthyThreshold>10</HealthyThreshold>
                  <Timeout>5</Timeout>
                  <Target>TCP:80</Target>
                </HealthCheck>
                <CreatedTime>2017-01-12T21:54:33.700Z</CreatedTime>
                <Subnets>
                  <member>subnet-0af6436e</member>
                </Subnets>
                <SecurityGroups>
                  <member>sg-0ce2ad68</member>
                </SecurityGroups>
                <CanonicalHostedZoneName>lb-1-22921474.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>
              </member>
            </LoadBalancerDescriptions>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>c73f36b9-dd11-11e6-846d-71c7730df7c3</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:10 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancerPolicies&LoadBalancerName=lb-1&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000510Z
      X-Amz-Content-Sha256:
      - 2e001c9ec5bb4d2bd96c10f335b63c15c06b3d5c3c4d7e52e8324663d01b13f5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2561d53a8ee0159d0e1b10126c75cf1f0a8a21df96418d396b285d8a493183c5
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c7cd4614-dd11-11e6-8071-ed1c1bc4d23b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancerPoliciesResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancerPoliciesResult>
            <PolicyDescriptions>
              <member>
                <PolicyTypeName>SSLNegotiationPolicyType</PolicyTypeName>
                <PolicyAttributeDescriptions>
                  <member>
                    <AttributeValue>false</AttributeValue>
                    <AttributeName>Protocol-TLSv1</AttributeName>
                  </member>
                  <member>
                    <AttributeValue>false</AttributeValue>
                    <AttributeName>Protocol-SSLv3</AttributeName>
                  </member>
                  <member>
                    <AttributeValue>true</AttributeValue>
                    <AttributeName>Protocol-TLSv1.1</AttributeName>
                  </member>
                  <member>
                    <AttributeValue>true</AttributeVa[...]
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeTags&LoadBalancerNames.member.1=lb-1&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000512Z
      X-Amz-Content-Sha256:
      - 667b7cad12519b7eb3be43722330c19a8cc170d896753a4bebaab30d44d93801
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ae0b751350df26ae3fe7062074125919faa63610fe8340f0cd3d2d9b6ae4a644
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c8932e30-dd11-11e6-8071-ed1c1bc4d23b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeTagsResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeTagsResult>
            <TagDescriptions>
              <member>
                <LoadBalancerName>lb-1</LoadBalancerName>
                <Tags>
                  <member>
                    <Value>lb-1</Value>
                    <Key>Name</Key>
                  </member>
                </Tags>
              </member>
            </TagDescriptions>
          </DescribeTagsResult>
          <ResponseMetadata>
            <RequestId>c8932e30-dd11-11e6-8071-ed1c1bc4d23b</RequestId>
          </ResponseMetadata>
        </DescribeTagsResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:13 GMT
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&SubnetId.1=subnet-0af6436e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000513Z
      X-Amz-Content-Sha256:
      - 2b7e0c9eaa89b98b70b3784bc41b7b21bda0b808db0c80cc18e8000626e0d142
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=75a9ce7c3da280aa2584e730d34857cce3ef74cac1b4eb522770d4929585e23b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>deee1825-8669-4653-86a3-784347040adf</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-0af6436e</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8f0019ea</vpcId>
                    <cidrBlock>172.31.0.0/20</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>4090</availableIpAddressCount>
                    <availabilityZone>sa-east-1a</availabilityZone>
                    <defaultForAz>true</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:14 GMT
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&GroupId.1=sg-0ce2ad68&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000514Z
      X-Amz-Content-Sha256:
      - a598e638d441e5df353a1e19707221b07f439cbff6de6518dd3fe84683252b33
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=444101097fe6eaf731a920f0b2181914b30f44fa9aa37d0c68c852231ebccf17
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>8e780456-9563-4278-b824-0c022c6f17a3</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>123456789012</ownerId>
                    <groupId>sg-0ce2ad68</groupId>
                    <groupName>default_elb_623306e1-2dd9-3d43-b10d-da5d3df14af2</groupName>
                    <groupDescription>ELB created security group used when no security group is specified during ELB creation - modifications could impact traffic to future ELBs</groupDescription>
                    <vpcId>vpc-8f0019ea</vpcId>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>80</fromPort>
                            <toPort>80</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissionsEgress>
                </item>
            </securityGroupInfo>
        </DescribeSecurityGroupsResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:15 GMT
recorded_with: VCR 3.0.3
