--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=redacted&Action=DescribeRegions&Signature=redacted&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A27%3A14Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeRegionsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>a8db2d35-a72c-4910-8dd4-8415e76c2863</requestId>
                <regionInfo>
                    <item>
                        <regionName>eu-west-1</regionName>
                        <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>sa-east-1</regionName>
                        <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>us-east-1</regionName>
                        <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
  [...]
    - request: 
        method: post
        uri: "https://elasticloadbalancing.eu-west-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092716Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20141009/eu-west-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=redacted"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "750d451f-4f96-11e4-8ce6-9dac37003b1c"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>750d451f-4f96-11e4-8ce6-9dac37003b1c</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:27:16 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092716Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20141009/sa-east-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=redacted"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "759ed6e1-4f96-11e4-a60f-71f648c8b972"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions>\n      <member>\n        <SecurityGroups/>\n        <LoadBalancerName>lb-1</LoadBalancerName>\n        <CreatedTime>2014-10-06T12:24:38.300Z</CreatedTime>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout>5</Timeout>\n          <UnhealthyThreshold>2</UnhealthyThreshold>\n        </HealthCheck>\n        <ListenerDescriptions>\n          <member>\n            <PolicyNames/>\n            <Listener>\n              <Protocol>TCP</Protocol>\n              <LoadBalancerPort>80</LoadBalancerPort>\n              <InstanceProtocol>TCP</InstanceProtocol>\n              <InstancePort>80</InstancePort>\n            </Listener>\n          </member>\n        </ListenerDescriptions>\n        <Instances/>\n        <Policies>\n          <AppCookieStickinessPolicies/>\n          <OtherPolicies/>\n          <LBCookieStickinessPolicies/>\n        </Policies>\n        <AvailabilityZones>\n          <member>sa-east-1a</member>\n        </AvailabilityZones>\n        <CanonicalHostedZoneNameID>Z2ES78Y61JGQKS</CanonicalHostedZoneNameID>\n        <CanonicalHostedZoneName>lb-1-1921771875.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>\n        <Scheme>internet-facing</Scheme>\n        <SourceSecurityGroup>\n          <OwnerAlias>amazon-elb</OwnerAlias>\n          <GroupName>amazon-elb-sg</GroupName>\n        </SourceSecurityGroup>\n        <DNSName>lb-1-1921771875.sa-east-1.elb.amazonaws.com</DNSName>\n        <BackendServerDescriptions/>\n        <Subnets/>\n      </member>\n    </LoadBalancerDescriptions>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>759ed6e1-4f96-11e4-a60f-71f648c8b972</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:27:17 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.us-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092717Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
       [...]
    - request: 
        method: post
        uri: "https://elasticloadbalancing.ap-northeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092718Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20141009/ap-northeast-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=redacted"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "76a79459-4f96-11e4-bd44-8529ef40fcfe"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>76a79459-4f96-11e4-bd44-8529ef40fcfe</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:27:19 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.us-west-2.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092719Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
       [...]
[...]
    - request: 
        method: post
        uri: "https://elasticloadbalancing.ap-southeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092720Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization:
            - "AWS4-HMAC-SHA256 Credential=redacted/20141009/ap-southeast-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "787f8880-4f96-11e4-ae17-1bb9ea6546d0"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>787f8880-4f96-11e4-ae17-1bb9ea6546d0</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:27:22 GMT"
[...]
    - request: 
        method: post
        uri: "https://elasticloadbalancing.ap-southeast-2.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20141009T092731Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20141009/ap-southeast-2/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "7ec2c638-4f96-11e4-81d9-8177259f49ac"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions/>\n  </DescribeLoadBalancersResult>\n  <ResponseMetadata>\n    <RequestId>7ec2c638-4f96-11e4-81d9-8177259f49ac</RequestId>\n  </ResponseMetadata>\n</DescribeLoadBalancersResponse>\n"
      recorded_at: "Thu, 09 Oct 2014 09:27:32 GMT"
  recorded_with: "VCR 2.9.3"
