--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://elasticloadbalancing.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLoadBalancers&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150219T131106Z"
          X-Amz-Content-Sha256: 
            - "236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150219/sa-east-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=3ae8399c9b92c0ecfc4ade9baaccb2386c9a741086236acfb259c071b6d5db58"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - c44bd17e-b838-11e4-a4e4-c5c904610edd
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLoadBalancersResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeLoadBalancersResult>\n    <LoadBalancerDescriptions>\n      <member>\n        <SecurityGroups/>\n        <CreatedTime>2015-02-19T11:44:43.210Z</CreatedTime>\n        <LoadBalancerName>garethrProed3b61536416444c8b742</LoadBalancerName>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout>5</Timeout>\n          <UnhealthyThreshold>2</UnhealthyThreshold>\n        </HealthCheck>\n        <ListenerDescriptions>\n          <member>\n            <PolicyNames/>\n            <Listener>\n              <Protocol>TCP</Protocol>\n              <LoadBalancerPort>80</LoadBalancerPort>\n              <InstanceProtocol>TCP</InstanceProtocol>\n              <InstancePort>80</InstancePort>\n            </Listener>\n          </member>\n        </ListenerDescriptions>\n        <Instances>\n          <member>\n            <InstanceId>i-e06944f5</InstanceId>\n          </member>\n        </Instances>\n        <Policies>\n          <AppCookieStickinessPolicies/>\n          <OtherPolicies/>\n          <LBCookieStickinessPolicies/>\n        </Policies>\n        <AvailabilityZones>\n          <member>sa-east-1a</member>\n          <member>sa-east-1b</member>\n        </AvailabilityZones>\n        <CanonicalHostedZoneNameID>Z2ES78Y61JGQKS</CanonicalHostedZoneNameID>\n        <CanonicalHostedZoneName>garethrProed3b61536416444c8b742-886078075.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>\n        <Scheme>internet-facing</Scheme>\n        <SourceSecurityGroup>\n          <OwnerAlias>amazon-elb</OwnerAlias>\n          <GroupName>amazon-elb-sg</GroupName>\n        </SourceSecurityGroup>\n        <DNSName>garethrProed3b61536416444c8b742-886078075.sa-east-1.elb.amazonaws.com</DNSName>\n        <BackendServerDescriptions/>\n        <Subnets/>\n      </member>\n      <member>\n        <SecurityGroups/>\n        <CreatedTime>2015-02-19T11:47:35.120Z</CreatedTime>\n        <LoadBalancerName>garethrPro09dbc77f59cd476a82a44</LoadBalancerName>\n        <HealthCheck>\n          <Interval>30</Interval>\n          <Target>TCP:80</Target>\n          <HealthyThreshold>10</HealthyThreshold>\n          <Timeout[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&InstanceId.1=i-e06944f5&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150219T131108Z"
          X-Amz-Content-Sha256: 
            - "9475874c018c2c03c4a93de1947197037608ff464c6bd1a44e059d5f664f8964"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150219/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=4461206a0e651e13c1504e0c7cbede3b760af496b639dedca547c20a2d8b30fe"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>5c5da034-5c36-4e64-8eb2-b204ba686665</requestId>
                <reservationSet>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Thu, 19 Feb 2015 13:11:10 GMT"
    - request: 
        method: post
        uri: "https://elasticloadbalancing.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeTags&LoadBalancerNames.member.1=garethrProed3b61536416444c8b742&Version=2012-06-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150219T131110Z"
          X-Amz-Content-Sha256: 
            - "4f92033359cb32556b7e192a5e17070c1be1d17d0ce9485b4770551f4781de74"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150219/sa-east-1/elasticloadbalancing/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=55e3318ccf2075eb512d401adcf3eee28544345c73a0a634ce8a5ef813ba0b33"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - c68ee41d-b838-11e4-ae53-9357167949db
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeTagsResponse xmlns=\x22http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\x22>\n  <DescribeTagsResult>\n    <TagDescriptions>\n      <member>\n        <Tags>\n          <member>\n            <Value>aws-acceptance</Value>\n            <Key>created_by</Key>\n          </member>\n          <member>\n            <Value>garethrProed3b61536416444c8b742</Value>\n            <Key>Name</Key>\n          </member>\n          <member>\n            <Value>cloud</Value>\n            <Key>project</Key>\n          </member>\n          <member>\n            <Value>engineering</Value>\n            <Key>department</Key>\n          </member>\n          <member>\n            <Value>polo</Value>\n            <Key>marco</Key>\n          </member>\n        </Tags>\n        <LoadBalancerName>garethrProed3b61536416444c8b742</LoadBalancerName>\n      </member>\n    </TagDescriptions>\n  </DescribeTagsResult>\n  <ResponseMetadata>\n    <RequestId>c68ee41d-b838-11e4-ae53-9357167949db</RequestId>\n  </ResponseMetadata>\n</DescribeTagsResponse>\n"
      recorded_at: "Thu, 19 Feb 2015 13:11:11 GMT"
[...]
