---
http_interactions:
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancerPolicyTypes&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170127T185336Z
      X-Amz-Content-Sha256:
      - cbc14f76b82758f16f8cd40ecf196ed1ad0a912e314aecb260063863f6c9b578
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170127/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2d9154f0c5a58aefaf07aec50110a1cafb825ba7f8216707088f33bc16cf507f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - eacaa9b2-e4c1-11e6-874e-41a12b67ae98
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancerPolicyTypesResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancerPolicyTypesResult>
            <PolicyTypeDescriptions>
              <member>
                <Description>Listener policy that defines the ciphers and protocols that will be accepted by the load balancer. This policy can be associated only with HTTPS/SSL listeners.</Description>
                <PolicyTypeName>SSLNegotiationPolicyType</PolicyTypeName>
                <PolicyAttributeTypeDescriptions>
                  <member>
                    <Description>A description for Protocol-TLSv1</Description>
                    <AttributeName>Protocol-TLSv1</AttributeName>
                    <AttributeType>Boolean</AttributeType>
                    <DefaultValue>false</DefaultValue>
                    <Cardinality>ZERO_OR_ONE</Cardinality>
                  </member>
                  <member>
                    <Description>A description for Protocol-SSLv3</Description>
                    <AttributeName>Protocol-SSLv3</AttributeName>
                    <AttributeType>Boolean</AttributeType>
                    <DefaultValue>false</DefaultValue>
                    <Cardinality>ZERO_OR_ONE</Cardinality>
                  </member>
                  <member>
                    <Description>A descriptio[...]
