--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T12%3A20%3A26Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>a58e7965-5364-49b2-995a-33bc802b9e3c</requestId>
                <securityGroupInfo>
                </securityGroupInfo>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Thu, 16 Oct 2014 12:20:28 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T12%3A20%3A28Z&Version=2014-06-15&VpcId.1=vpc-10c17875"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>5d0337f3-cd29-4236-a2c7-7cbb7fb74c71</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Thu, 16 Oct 2014 12:20:29 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T12%3A20%3A39Z&Version=2014-06-15&VpcId.1=vpc-10c17875"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>495a2ea5-1b6a-4c79-ba79-84fea12c1ea7</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Thu, 16 Oct 2014 12:20:40 GMT"
  recorded_with: "VCR 2.9.3"
