--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeRegions&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A29%3A25Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeRegionsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>750ff4ee-0001-415f-9683-1f4cfb772708</requestId>
                <regionInfo>
                    <item>
                        <regionName>eu-west-1</regionName>
                        <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>sa-east-1</regionName>
                        <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>us-east-1</regionName>
                        <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
  [...]
    - request: 
        method: post
        uri: "https://ec2.eu-west-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A29%3A26Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>fec468e6-f45b-4cbe-b504-f9fd9ed1a97c</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-ccf0e1b8</groupId>
                        <groupName>default</groupName>
                        <groupDescription>default group</groupDescription>
                        <ipPermissions>
                            <item>
                                <ipProtocol>tcp</ipProtocol>
                                <fromPort>0</fromPort>
                                <toPort>65535</toPort>
                                <groups>
                                    <item>
                                        <userId>482693910459</userId>
                                        <groupId>sg-ccf0e1b8</groupId>
                                        <groupName>default</groupName>
                                    </item>
                                </groups>
                                <ipRanges/>
                            </item>
                            <item>
                                <ipProtocol>udp</ipProtocol>
                                <fromPort>0</fromPort>
                   [...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A29%3A28Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>eb0a1d5e-a2c7-4d90-b2d0-c42e1101e0ef</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-d9d0f4c4</groupId>
                        <groupName>lb-sg</groupName>
                        <groupDescription>Security group for load balancer</groupDescription>
                        <ipPermissions>
                            <item>
                                <ipProtocol>tcp</ipProtocol>
                                <fromPort>80</fromPort>
                                <toPort>80</toPort>
                                <groups/>
                                <ipRanges>
                                    <item>
                                        <cidrIp>0.0.0.0/0</cidrIp>
                                    </item>
                                </ipRanges>
                            </item>
                        </ipPermissions>
                        <ipPermissionsEgress/>
                    </item>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-d3d0f4ce</groupId>
                        <groupName>puppet-sg</groupName>
                        <groupDescription>Pupp[...]
    - request: 
        method: post
        uri: "https://ec2.us-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A29%3A30Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        h[...]
    - request: 
        method: post
        uri: "https://ec2.ap-northeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A29%3A31Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
    [...]
    - request: 
        method: post
        uri: "https://ec2.us-west-2.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A29%3A32Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        h[...]
[...]
    - request: 
        method: post
        uri: "https://ec2.ap-southeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-09T09%3A29%3A40Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
    [...]
[...]
