--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSecurityGroups&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T12%3A21%3A12Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <securityGroupInfo>
                    <item>
                        <groupName>default</groupName>
                        <groupDescription>default VPC security group</groupDescription>
                    </item>
                </securityGroupInfo>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Thu, 16 Oct 2014 12:21:14 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T12%3A21%3A14Z&Version=2014-06-15&VpcId.1=vpc-10c17875"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>752020ab-e8e8-4545-a8d0-112c3bae88ae</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Thu, 16 Oct 2014 12:21:15 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-16T12%3A21%3A16Z&Version=2014-06-15&VpcId.1=vpc-10c17875"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>75b60256-c788-4791-8e94-545bace9d879</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Thu, 16 Oct 2014 12:21:17 GMT"
  recorded_with: "VCR 2.9.3"
