--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=redacted&Action=DescribeSecurityGroups&Signature=redacted%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-03T13%3A03%3A30Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>1df7d249-d904-4922-9f18-61e850a644a6</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-d9d0f4c4</groupId>
                        <groupName>lb-sg</groupName>
                        <groupDescription>Security group for load balancer</groupDescription>
                        <ipPermissions>
                            <item>
                                <ipProtocol>tcp</ipProtocol>
                                <fromPort>80</fromPort>
                                <toPort>80</toPort>
                                <groups/>
                                <ipRanges>
                                    <item>
                                        <cidrIp>0.0.0.0/0</cidrIp>
                                    </item>
                                </ipRanges>
                            </item>
                        </ipPermissions>
                        <ipPermissionsEgress/>
                    </item>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-d3d0f4ce</groupId>
                        <groupName>puppet-sg</groupName>
                        <groupDescription>Puppet master security group</groupDescription>
                        <ipPermissions>
                            <item>
                                <ipProtocol>tcp</ipProtocol>
                                <fromPort>1</fromPort>
                                <toPort>65535</toPort>
                                <groups>
                                    <item>
                                        <userId>482693910459</userId>
                                        <groupId>sg-d5d0f4c8</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                    <item>
                                        <userId>482693910459</userId>
                                        <groupId>sg-d1d0f4cc</groupId>
                                        <groupName>db-sg</groupName>
                                    </it[...]
