--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150224T180912Z"
          X-Amz-Content-Sha256: 
            - "5d21a760e19d65e1362145b2d52df2569bac924f2eaee44aefe25f75ead4e7e2"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150224/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=b1d0d2994c4ea3dee0da7598d402dca7b413e01c71bc5102b8e239a54a7fcb63"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
          Cneonction: 
            - close
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>45ad9967-9030-48b5-a993-605fd99968e7</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-9917aa86</groupId>
                        <groupName>lb-sg</groupName>
                        <groupDescription>Security group for load balancer</groupDescription>
                        <ipPermissions>
                            <item>
                                <ipProtocol>tcp</ipProtocol>
                                <fromPort>80</fromPort>
                                <toPort>80</toPort>
                                <groups/>
                                <ipRanges>
                                    <item>
                                        <cidrIp>0.0.0.0/0</cidrIp>
                                    </item>
                                </ipRanges>
                            </item>
                        </ipPermissions>
                        <ipPermissionsEgress/>
                    </item>
               </securityGroupInfo>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Tue, 24 Feb 2015 18:09:14 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeVpcs&Version=2014-09-01&VpcId.1=vpc-bd9a16d8"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150224T180914Z"
          X-Amz-Content-Sha256: 
            - "6be63b442b739fff8026512888983019d34f6a43b7daad573209dc8a5f3d018d"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150224/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=2f7c482f3d559a24a78a9d73f563dd1f17bd267268a30bb508928ec81255a5fd"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>46203d78-c199-45ef-916a-a07cdf414776</requestId>
            </DescribeVpcsResponse>
      recorded_at: "Tue, 24 Feb 2015 18:09:15 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&GroupId.1=sg-3d954f58&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150224T180932Z"
          X-Amz-Content-Sha256: 
            - b15501a6ac86d302df4485109afc2045837bed0813c75441d1605c7177d58cb5
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150224/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=992ee138545e9b20a2f940e5f2416891a91520d41206f225fa30e35668bfa92e"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>b601563a-f3e9-455b-a701-515597316c47</requestId>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Tue, 24 Feb 2015 18:09:33 GMT"
  recorded_with: "VCR 2.9.3"
