--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSubnets&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150507T105423Z"
          X-Amz-Content-Sha256: 
            - "3a82620a58eb8a58f422b0762600796f48166b8ce93cb23e176e8d65d498f8c8"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150507/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=2cd0e3f37abe226807bbaa076fd1f9542759b0acc673caec6cce0d588e34a600"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>3bf79060-1ad5-4a8b-899c-c5e99a3f7182</requestId>
                <subnetSet>
                </subnetSet>
            </DescribeSubnetsResponse>
      recorded_at: "Thu, 07 May 2015 10:54:25 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&Filter.1.Name=instance-state-name&Filter.1.Value.1=pending&Filter.1.Value.2=running&Filter.1.Value.3=stopping&Filter.1.Value.4=stopped&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150507T105425Z"
          X-Amz-Content-Sha256: 
            - "3c4f913045b3ab51b265c5c702a265f74527c4f93cc1ce92140ec283cbd25b40"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150507/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=2cc4804317846d2f9b6cd7ea8732c29173e8e33bd861df16f4fe2dd734341745"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>3f367f83-9367-4856-9995-e5ad3fb845ea</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-6d5c7678</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-2e409f33</groupId>
                                <groupName>default</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-af73c84c</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-11-115.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-54-94-82-64.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-04-16T10:04:42.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.11.115</privateIpAddress>
                                <ipAddress>54.94.82.64</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-2e409f33</groupId>
                                        <groupName>default</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-a9e64eb5</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-04-16T10:04:45.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <tagSet>
                                    <item>
                                        <key>department</key>
                                        <value>engineering</value>
                                    </item>
                                    <item>
                                        <key>created_by</key>
                                        <value>aws-acceptance</value>
                                    </item>
                                    <item>
                                        <key>project</key>
                                        <value>cloud</value>
                                    </item>
                                    <item>
                                        <key>Name</key>
                                        <value>1.0.0-b20125-82db3311-ddc2fbf2-6b37-4304-b62b-a72e03f71dde</value>
                                    </item>
                                </tagSet>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Thu, 07 May 2015 10:54:26 GMT"
  recorded_with: "VCR 2.9.3"
