--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=redacted&Action=DescribeInstances&Filter.1.Name=instance-state-name&Filter.1.Value.1=pending&Filter.1.Value.2=running&Signature=redacted&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-03T13%3A44%3A24Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>47d0a928-da42-4d4e-bcaf-dfe34d04f713</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-1a11ba0f</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-d5d0f4c8</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-3171f124</instanceId>
                                <imageId>ami-41e85d5c</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-47-184.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-54-207-242-205.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2014-10-01T12:06:55.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.47.184</privateIpAddress>
                                <ipAddress>54.207.242.205</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-d5d0f4c8</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-cf2d86c2</volumeId>
                                            <status>attached</status>
                                            <attachTime>2014-10-01T12:06:57.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <tagSet>
                                    <item>
                                        <key>project</key>
                                        <value>cloud</value>
                                    </item>
                                    <item>
                                        <key>Name</key>
                                        <value>web-2</value>
                                    </item>
                                    <item>
                                        <key>department</key>
                                        <value>engineering</value>
                                    </item>
                                    <item>
                                        <key>created_by</key>
                                        <value>garethr</value>
                                    </item>
                                </tagSet>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                    <item>
                        <reservationId>r-af10bbba</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-d1d0f4cc</groupId>
                                <groupName>db-sg</groupName>
                            </it[...]
