--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://autoscaling.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeLaunchConfigurations&Version=2011-01-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150226T105938Z"
          X-Amz-Content-Sha256: 
            - e858e902d9287f6cedec21fa27ca23bda00820e3ffa25f3eac1929c4a84f423d
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150226/sa-east-1/autoscaling/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=c8801966070ae0d6bb134fb70ad0e548755e9a0e3e7e308380ffd8949aabeb0f"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "8ec7d872-bda6-11e4-b87c-b9e320cc1e9a"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribeLaunchConfigurationsResponse xmlns=\x22http://autoscaling.amazonaws.com/doc/2011-01-01/\x22>\n  <DescribeLaunchConfigurationsResult>\n    <LaunchConfigurations>\n      <member>\n        <SecurityGroups>\n          <member>sg-2194283e</member>\n        </SecurityGroups>\n        <CreatedTime>2015-02-26T10:59:16.668Z</CreatedTime>\n        <KernelId/>\n        <LaunchConfigurationName>test-lc</LaunchConfigurationName>\n        <UserData/>\n        <InstanceType>t1.micro</InstanceType>\n        <LaunchConfigurationARN>arn:aws:autoscaling:sa-east-1:482693910459:launchConfiguration:5d1f63af-4001-4f45-9079-d4e6684a7583:launchConfigurationName/test-lc</LaunchConfigurationARN>\n        <BlockDeviceMappings/>\n        <ImageId>ami-67a60d7a</ImageId>\n        <KeyName/>\n        <RamdiskId/>\n        <InstanceMonitoring>\n          <Enabled>true</Enabled>\n        </InstanceMonitoring>\n        <ClassicLinkVPCSecurityGroups/>\n        <EbsOptimized>false</EbsOptimized>\n      </member>\n    </LaunchConfigurations>\n  </DescribeLaunchConfigurationsResult>\n  <ResponseMetadata>\n    <RequestId>8ec7d872-bda6-11e4-b87c-b9e320cc1e9a</RequestId>\n  </ResponseMetadata>\n</DescribeLaunchConfigurationsResponse>\n"
      recorded_at: "Thu, 26 Feb 2015 10:59:40 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&GroupId.1=sg-2194283e&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150226T105940Z"
          X-Amz-Content-Sha256: 
            - e227bc0d66f3f6c3ce9cc021858fc9649d7bad60db975537148179e23b6dc75d
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150226/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=2a607d3739b41aa6516fccb4ff6810907a0eeb4e18bda2cf49222c67d335c976"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>0a82ef36-e23d-4a63-b088-b85449c2d82a</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-2194283e</groupId>
                        <groupName>test-sg</groupName>
                        <groupDescription>group for testing autoscaling group</groupDescription>
                        <ipPermissions/>
                        <ipPermissionsEgress/>
                    </item>
                </securityGroupInfo>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Thu, 26 Feb 2015 10:59:41 GMT"
  recorded_with: "VCR 2.9.3"
