--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://sqs.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=ListQueues&Version=2012-11-05"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20151103T154158Z"
          X-Amz-Content-Sha256: 
            - "48a38266faf90970d6c7fea9b15e6ba366e5f6397c2970fc893f8a7b5e207bd0"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20151103/sa-east-1/sqs/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=c05fe599d0c3b44bb57005aa3f7630c9ddddcc992d243818bbcb78be3902b742"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - text/xml
          X-Amzn-Requestid: 
            - e3bea7b3-9274-5d4e-9c0e-e90145e492cd
        body: 
          encoding: US-ASCII
          string: "<?xml version=\x221.0\x22?><ListQueuesResponse xmlns=\x22http://queue.amazonaws.com/doc/2012-11-05/\x22><ListQueuesResult><QueueUrl>https://sqs.sa-east-1.amazonaws.com/854330369555/queue</QueueUrl></ListQueuesResult><ResponseMetadata><RequestId>e3bea7b3-9274-5d4e-9c0e-e90145e492cd</RequestId></ResponseMetadata></ListQueuesResponse>"
      recorded_at: "Tue, 03 Nov 2015 15:42:00 GMT"
    - request: 
        method: post
        uri: "https://sqs.sa-east-1.amazonaws.com/854330369555/queue"
        body: 
          encoding: UTF-8
          string: "Action=GetQueueAttributes&AttributeName.1=All&QueueUrl=https%3A%2F%2Fsqs.sa-east-1.amazonaws.com%2F854330369555%2Fqueue&Version=2012-11-05"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20151103T154200Z"
          X-Amz-Content-Sha256: 
            - "4172538b909231f47b6e0f3310c0da4c5b146c4d1549d6fa8ee58644a94f9f06"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20151103/sa-east-1/sqs/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=61f1a603b49c6892ca5912fc1349ef82134580a2d6d5494881fe1cdbe3678a7d"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - text/xml
          X-Amzn-Requestid: 
            - "7ea38620-82ed-51a8-97f5-c892557c6a15"
        body: 
          encoding: US-ASCII
          string: "<?xml version=\x221.0\x22?><GetQueueAttributesResponse xmlns=\x22http://queue.amazonaws.com/doc/2012-11-05/\x22><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:sa-east-1:854330369555:queue</Value></Attribute><Attribute><Name>ApproximateNumberOfMessages</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesDelayed</Name><Value>0</Value></Attribute><Attribute><Name>CreatedTimestamp</Name><Value>1446564993</Value></Attribute><Attribute><Name>LastModifiedTimestamp</Name><Value>1446564993</Value></Attribute><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute><Attribute><Name>MaximumMessageSize</Name><Value>262144</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>345600</Value></Attribute><Attribute><Name>DelaySeconds</Name><Value>0</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>7ea38620-82ed-51a8-97f5-c892557c6a15</RequestId></ResponseMetadata></GetQueueAttributesResponse>"
      recorded_at: "Tue, 03 Nov 2015 15:42:01 GMT"
  recorded_with: "VCR 2.9.3"