---
http_interactions:
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000503Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9bf79b11636e51170f218e41a142545f70008c0dc887110643bfc9949e07cf1f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c35e7aad-dd11-11e6-9df5-d35ef90998c0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions>
              <member>
                <VPCId>vpc-8f0019ea</VPCId>
                <CanonicalHostedZoneNameID>Z2P70J7HTTTPLU</CanonicalHostedZoneNameID>
                <Scheme>internet-facing</Scheme>
                <Instances/>
                <Policies>
                  <AppCookieStickinessPolicies/>
                  <LBCookieStickinessPolicies/>
                  <OtherPolicies>
                    <member>AWSConsole-SSLNegotiationPolicy-lb-1-1484696260015</member>
                    <member>ELBSecurityPolicy-2016-08</member>
                  </OtherPolicies>
                </Policies>
                <AvailabilityZones>
                  <member>sa-east-1a</member>
                </AvailabilityZones>
                <DNSName>lb-1-22921474.sa-east-1.elb.amazonaws.com</DNSName>
                <BackendServerDescriptions/>
                <SourceSecurityGroup>
                  <OwnerAlias>123456789012</OwnerAlias>
                  <GroupName>default_elb_623306e1-2dd9-3d43-b10d-da5d3df14af2</GroupName>
                </SourceSecurityGroup>
                <LoadBalancerName>lb-1</LoadBalancerName>
                <ListenerDescriptions>
                  <member>
                    <Listener>
                      <InstancePort>80</InstancePort>
                      <InstanceProtocol>TCP</InstanceProtocol>
                      <Protocol>TCP</Protocol>
                      <LoadBalancerPort>80</LoadBalancerPort>
                    </Listener>
                    <PolicyNames/>
                  </member>
                  <member>
                    <Listener>
                      <SSLCertificateId>arn:aws:iam::123456789012:server-certificate/zleslie-2016</SSLCertificateId>
                      <InstancePort>443</InstancePort>
                      <InstanceProtocol>HTTP</InstanceProtocol>
                      <Protocol>HTTPS</Protocol>
                      <LoadBalancerPort>443</LoadBalancerPort>
                    </Listener>
                    <PolicyNames>
                      <member>AWSConsole-SSLNegotiationPolicy-lb-1-1484696260015</member>
                    </PolicyNames>
                  </member>
                </ListenerDescriptions>
                <HealthCheck>
                  <UnhealthyThreshold>2</UnhealthyThreshold>
                  <Interval>30</Interval>
                  <HealthyThreshold>10</HealthyThreshold>
                  <Timeout>5</Timeout>
                  <Target>TCP:80</Target>
                </HealthCheck>
                <CreatedTime>2017-01-12T21:54:33.700Z</CreatedTime>
                <Subnets>
                  <member>subnet-0af6436e</member>
                </Subnets>
                <SecurityGroups>
                  <member>sg-0ce2ad68</member>
                </SecurityGroups>
                <CanonicalHostedZoneName>lb-1-22921474.sa-east-1.elb.amazonaws.com</CanonicalHostedZoneName>
              </member>
            </LoadBalancerDescriptions>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>c35e7aad-dd11-11e6-9df5-d35ef90998c0</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:04 GMT
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancerPolicies&LoadBalancerName=lb-1&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000504Z
      X-Amz-Content-Sha256:
      - 2e001c9ec5bb4d2bd96c10f335b63c15c06b3d5c3c4d7e52e8324663d01b13f5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=4780a38b956f307bcd8e9d1fb51c9d6fd3e70047ac606d2d4923e388c9a766b2
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c41baf71-dd11-11e6-846d-71c7730df7c3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancerPoliciesResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancerPoliciesResult>
            <PolicyDescriptions>
              <member>
                <PolicyTypeName>SSLNegotiationPolicyType</PolicyTypeName>
                <PolicyAttributeDescriptions>
                  <member>
                    <AttributeValue>false</AttributeValue>
                    <AttributeName>Protocol-TLSv1</AttributeName>
                  </member>
                  <member>
                    <AttributeValue>false</AttributeValue>
                    <AttributeName>Protocol-SSLv3</AttributeName>
                  </member>
                  <member>
                    <AttributeValue>true</AttributeValue>
                    <AttributeName>Protocol-TLSv1.1</AttributeName>
                  </member>
                  <member>
                    <AttributeValue>true</AttributeVa[...]
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeTags&LoadBalancerNames.member.1=lb-1&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000506Z
      X-Amz-Content-Sha256:
      - 667b7cad12519b7eb3be43722330c19a8cc170d896753a4bebaab30d44d93801
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0ea6cf257ecdba5e1ffd4c8436d097b9f3da6362df61f0f2eb94c7a089e0b0f7
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c4f60a06-dd11-11e6-8071-ed1c1bc4d23b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeTagsResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeTagsResult>
            <TagDescriptions>
              <member>
                <LoadBalancerName>lb-1</LoadBalancerName>
                <Tags>
                  <member>
                    <Value>lb-1</Value>
                    <Key>Name</Key>
                  </member>
                </Tags>
              </member>
            </TagDescriptions>
          </DescribeTagsResult>
          <ResponseMetadata>
            <RequestId>c4f60a06-dd11-11e6-8071-ed1c1bc4d23b</RequestId>
          </ResponseMetadata>
        </DescribeTagsResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:07 GMT
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&SubnetId.1=subnet-0af6436e&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000507Z
      X-Amz-Content-Sha256:
      - 2b7e0c9eaa89b98b70b3784bc41b7b21bda0b808db0c80cc18e8000626e0d142
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=1772ea152c71cb110af735f4fe66fa1b9de6faf43dda82672361e6af2b1e77af
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>ddaf0e3d-020b-44c3-a804-6d42a22a41ce</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-0af6436e</subnetId>
                    <state>available</state>
                    <vpcId>vpc-8f0019ea</vpcId>
                    <cidrBlock>172.31.0.0/20</cidrBlock>
                    <ipv6CidrBlockAssociationSet/>
                    <availableIpAddressCount>4090</availableIpAddressCount>
                    <availabilityZone>sa-east-1a</availabilityZone>
                    <defaultForAz>true</defaultForAz>
                    <mapPublicIpOnLaunch>true</mapPublicIpOnLaunch>
                    <assignIpv6AddressOnCreation>false</assignIpv6AddressOnCreation>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:08 GMT
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&GroupId.1=sg-0ce2ad68&Version=2016-11-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170118T000508Z
      X-Amz-Content-Sha256:
      - a598e638d441e5df353a1e19707221b07f439cbff6de6518dd3fe84683252b33
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170118/sa-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=62982543b9ae12aa78865851d3460fb209e6582bb128dbf399bf4e0d3949cd02
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2016-11-15/">
            <requestId>b67ec672-7bb5-4320-97c2-c622a0807216</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>123456789012</ownerId>
                    <groupId>sg-0ce2ad68</groupId>
                    <groupName>default_elb_623306e1-2dd9-3d43-b10d-da5d3df14af2</groupName>
                    <groupDescription>ELB created security group used when no security group is specified during ELB creation - modifications could impact traffic to future ELBs</groupDescription>
                    <vpcId>vpc-8f0019ea</vpcId>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>80</fromPort>
                            <toPort>80</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress>
                        <item>
                            <ipProtocol>-1</ipProtocol>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <ipv6Ranges/>
                            <prefixListIds/>
                        </item>
                    </ipPermissionsEgress>
                </item>
            </securityGroupInfo>
        </DescribeSecurityGroupsResponse>
  recorded_at: Wed, 18 Jan 2017 00:05:09 GMT
recorded_with: VCR 3.0.3
