---
http_interactions:
- request:
    method: post
    uri: https://elasticloadbalancing.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLoadBalancers&Version=2012-06-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170112T183144Z
      X-Amz-Content-Sha256:
      - 236069f72bf74f0c7ddff0a34b0defa8a21d1d6a897e588764e1b2ff6319f94a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=111111111111/20170112/sa-east-1/elasticloadbalancing/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ba8de4cff157950664bcdd16a7b3d6fd3773d62111be884bbae93160cd94a6a9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5f2d73df-d8f5-11e6-8071-ed1c1bc4d23b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLoadBalancersResponse xmlns="http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/">
          <DescribeLoadBalancersResult>
            <LoadBalancerDescriptions/>
          </DescribeLoadBalancersResult>
          <ResponseMetadata>
            <RequestId>5f2d73df-d8f5-11e6-8071-ed1c1bc4d23b</RequestId>
          </ResponseMetadata>
        </DescribeLoadBalancersResponse>
  recorded_at: Thu, 12 Jan 2017 18:31:45 GMT
recorded_with: VCR 3.0.3
