--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://autoscaling.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribePolicies&Version=2011-01-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150121T112543Z"
          X-Amz-Content-Sha256: 
            - "46310113bb64f0b8f0f7562176bf35da4aa38bfd8a5446e8d5aebc51ed21beb2"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150121/sa-east-1/autoscaling/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=331467cd663a961aef4c0ffaab2d287edc662504885e2ec92e72db5c7b9dcd26"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "3c4aba21-a160-11e4-92ee-93450842f682"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribePoliciesResponse xmlns=\x22http://autoscaling.amazonaws.com/doc/2011-01-01/\x22>\n  <DescribePoliciesResult>\n    <ScalingPolicies/>\n  </DescribePoliciesResult>\n  <ResponseMetadata>\n    <RequestId>3c4aba21-a160-11e4-92ee-93450842f682</RequestId>\n  </ResponseMetadata>\n</DescribePoliciesResponse>\n"
      recorded_at: "Wed, 21 Jan 2015 11:25:44 GMT"
    - request: 
        method: post
        uri: "https://autoscaling.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribePolicies&Version=2011-01-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150121T112544Z"
          X-Amz-Content-Sha256: 
            - "46310113bb64f0b8f0f7562176bf35da4aa38bfd8a5446e8d5aebc51ed21beb2"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150121/sa-east-1/autoscaling/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=747e8c554d67457dd2e0823cac17c111c52ead92a26f171c78c90c0ec771ba93"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "3ce60f76-a160-11e4-beaf-61c8dfde9d69"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: "<DescribePoliciesResponse xmlns=\x22http://autoscaling.amazonaws.com/doc/2011-01-01/\x22>\n  <DescribePoliciesResult>\n    <ScalingPolicies/>\n  </DescribePoliciesResult>\n  <ResponseMetadata>\n    <RequestId>3ce60f76-a160-11e4-beaf-61c8dfde9d69</RequestId>\n  </ResponseMetadata>\n</DescribePoliciesResponse>\n"
      recorded_at: "Wed, 21 Jan 2015 11:25:45 GMT"
  recorded_with: "VCR 2.9.3"
