--- 
  http_interactions: 
    - request: 
        method: get
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone"
        body: 
          encoding: ASCII-8BIT
          string: ""
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=Algorithm=HmacSHA256,Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "1c207501-7949-11e4-9d63-c1df0747cad1"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z11A654ME5UD0C</Id><Name>devopscentral.com.</Name><CallerReference>d29893c4732c33e760b3252b50690a4c</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>3</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesResponse>
      recorded_at: "Mon, 01 Dec 2014 10:59:22 GMT"
    - request: 
        method: get
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone/Z11A654ME5UD0C/rrset"
        body: 
          encoding: ASCII-8BIT
          string: ""
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=Algorithm=HmacSHA256,Signature="
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "1c693d6b-7949-11e4-9b24-b5e7f92f0bc4"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>devopscentral.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-926.awsdns-51.net.</Value></ResourceRecord><ResourceRecord><Value>ns-174.awsdns-21.com.</Value></ResourceRecord><ResourceRecord><Value>ns-1087.awsdns-07.org.</Value></ResourceRecord><ResourceRecord><Value>ns-1866.awsdns-41.co.uk.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>devopscentral.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRecords><ResourceRecord><Value>ns-926.awsdns-51.net. awsdns-hostmaster.amazon.com. 1 7200 900 1209600 86400</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>local.devopscentral.com.</Name><Type>A</Type><TTL>3000</TTL><ResourceRecords><ResourceRecord><Value>127.0.0.1</Value></ResourceRecord></ResourceRecords></ResourceRecordSet></ResourceRecordSets><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListResourceRecordSetsResponse>
      recorded_at: "Mon, 01 Dec 2014 10:59:22 GMT"
  recorded_with: "VCR 2.9.3"
