---
http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListRoles&Version=2010-05-08
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160728T202344Z
      X-Amz-Content-Sha256:
      - 8e689dc6b69b17003f0460011582254d8643f0dfb48ac46e093a24df58170b3f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=redacted/20160728/us-east-1/iam/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=bfaf846ce12189c1b0a1346f056397b72de78058195dfe675220da75fcfa7a3b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2e8f4ba7-5501-11e6-945e-5dbedde336ba
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRolesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListRolesResult>
            <IsTruncated>false</IsTruncated>
            <Roles>
              <member>
                <Path>/</Path>
                <AssumeRolePolicyDocument>%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Effect%22%3A%22Allow%22%2C%22Principal%22%3A%7B%22Service%22%3A%22ec2.amazonaws.com%22%7D%2C%22Action%22%3A%22sts%3AAssumeRole%22%7D%5D%7D</AssumeRolePolicyDocument>
                <RoleId>AROAJTVOOGRMNHXZHEQKU</RoleId>
                <RoleName>devtest</RoleName>
                <Arn>arn:aws:iam::111111111111:role/devtest</Arn>
                <CreateDate>2016-07-28T20:22:30Z</CreateDate>
              </member>
            </Roles>
          </ListRolesResult>
          <ResponseMetadata>
            <RequestId>2e8f4ba7-5501-11e6-945e-5dbedde336ba</RequestId>
          </ResponseMetadata>
        </ListRolesResponse>
  recorded_at: Thu, 28 Jul 2016 20:23:44 GMT
recorded_with: VCR 3.0.3
