--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeRouteTables&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A39%3A40Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeRouteTablesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>9cdaf804-d78d-4932-bd08-7f837e571ff0</requestId>
                <routeTableSet>
                    <item>
                        <routeTableId>rtb-1e3acb7b</routeTableId>
                        <vpcId>vpc-6853ea0d</vpcId>
                        <routeSet>
                            <item>
                                <destinationCidrBlock>10.0.0.0/16</destinationCidrBlock>
                                <gatewayId>local</gatewayId>
                                <state>active</state>
                                <origin>CreateRouteTable</origin>
                            </item>
                        </routeSet>
                        <associationSet>
                            <item>
                                <routeTableAssociationId>rtbassoc-66bc4c03</routeTableAssociationId>
                                <routeTableId>rtb-1e3acb7b</routeTableId>
                                <main>true</main>
                            </item>
                        </associationSet>
                        <propagatingVgwSet/>
                        <tagSet>
                            <item>
                                <key>Name</key>
                                <value>test-vpc</value>
                            </item>
                        </tagSet>
                    </item>
                    <item>
                        <routeTableId>rtb-18c83d7d</routeTableId>
                        <vpcId>vpc-9204b9f7</vpcId>
                        <routeSet>
                            <item>
                                <destinationCidrBlock>172.30.0.0/16</destinationCidrBlock>
                                <gatewayId>local</gatewayId>
                  [...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A39%3A43Z&Version=2014-06-15&VpcId.1=vpc-6853ea0d"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>29b4d89f-5d6d-444a-bb97-6db62cc30193</requestId>
                <vpcSet>
                    <item>
                        <vpcId>vpc-6853ea0d</vpcId>
                        <state>available</state>
                        <cidrBlock>10.0.0.0/16</cidrBlock>
                        <dhcpOptionsId>dopt-e5edfb87</dhcpOptionsId>
                        <tagSet>
                            <item>
                                <key>Name</key>
                                <value>test-vpc</value>
                            </item>
                        </tagSet>
                        <instanceTenancy>default</instanceTenancy>
                        <isDefault>false</isDefault>
                    </item>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Fri, 17 Oct 2014 13:39:45 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeInternetGateways&InternetGatewayId.1=igw-300a1352&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T13%3A39%3A46Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInternetGatewaysResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>bdd72d6b-fc0a-4b2d-9e0b-97df4880eadd</requestId>
                <internetGatewaySet>
                    <item>
                        <internetGatewayId>igw-300a1352</internetGatewayId>
                        <attachmentSet>
                            <item>
                                <vpcId>vpc-9204b9f7</vpcId>
                                <state>available</state>
                            </item>
                        </attachmentSet>
                        <tagSet/>
                    </item>
                </internetGatewaySet>
            </DescribeInternetGatewaysResponse>
      recorded_at: "Fri, 17 Oct 2014 13:39:49 GMT"
[...]
