--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=RunInstances&ImageId=ami-67a60d7a&InstanceType=t1.micro&MaxCount=1&MinCount=1&Monitoring.Enabled=false&Placement.AvailabilityZone=sa-east-1a&SecurityGroup.1=web-sg&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150129T100544Z"
          X-Amz-Content-Sha256: 
            - e5e51e6a26bad5b8c837d6060199f581f90454a909970fb353585d13dc53b3af
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150129/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=6ee771e71c31ef6a8662d59bd81d0f4767c1e1981f9997aab0191f52e22a3dcc"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>ea114da7-6af4-4107-916c-5cef52897ae3</requestId>
                <reservationId>r-ed6619f8</reservationId>
                <ownerId>482693910459</ownerId>
                <groupSet>
                    <item>
                        <groupId>sg-4b50e354</groupId>
                        <groupName>web-sg</groupName>
                    </item>
                </groupSet>
                <instancesSet>
                    <item>
                        <instanceId>i-44075a51</instanceId>
                        <imageId>ami-67a60d7a</imageId>
                        <instanceState>
                            <code>0</code>
                            <name>pending</name>
                        </instanceState>
                        <privateDnsName/>
                        <dnsName/>
                        <reason/>
                        <amiLaunchIndex>0</amiLaunchIndex>
                        <productCodes/>
                        <instanceType>t1.micro</instanceType>
                        <launchTime>2015-01-29T10:05:43.000Z</launchTime>
                        <placement>
                            <availabilityZone>sa-east-1a</availabilityZone>
                            <groupName/>
                            <tenancy>default</tenancy>
                        </placement>
                        <kernelId>aki-5553f448</kernelId>
                        <monitoring>
                            <state>disabled</state>
                        </monitoring>
                        <groupSet>
                            <item>
                                <groupId>sg-4b50e354</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <stateReason>
                            <code>pending</code>
                            <message>pending</message>
                        </stateReason>
                        <architecture>x86_64</architecture>
                        <rootDeviceType>ebs</rootDeviceType>
                        <rootDeviceName>/dev/sda1</rootDeviceName>
                        <blockDeviceMapping/>
                        <virtualizationType>paravirtual</virtualizationType>
                        <clientToken/>
                        <hypervisor>xen</hypervisor>
                        <networkInterfaceSet/>
                        <ebsOptimized>false</ebsOptimized>
                    </item>
                </instancesSet>
            </RunInstancesResponse>
      recorded_at: "Thu, 29 Jan 2015 10:05:45 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&InstanceId.1=i-44075a51&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150129T100617Z"
          X-Amz-Content-Sha256: 
            - dbcbf98fd8d46bee60cd2306cc07a4fbe80ecf21b333e327c46abe25ab8fe64e
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150129/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=75ad249326e6bd6a4f8d41479aacb72d2c5287102b99fb697aedf910ae6e8992"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>ed56c955-4d89-4e48-885e-b0718d28968d</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-ed6619f8</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-4b50e354</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-44075a51</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-25-166.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-54-232-74-148.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-01-29T10:05:43.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.25.166</privateIpAddress>
                                <ipAddress>54.232.74.148</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-4b50e354</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-2346833f</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-01-29T10:05:46.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Thu, 29 Jan 2015 10:06:18 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=CreateTags&ResourceId.1=i-44075a51&Tag.1.Key=Name&Tag.1.Value=web-15&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150129T100618Z"
          X-Amz-Content-Sha256: 
            - "399ae9555f555b7c853b7d1d269e902e11eb20b51329d9344505435761acf41b"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150129/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=f3b9dd0fe477579180b70feef0d4f93d5e2cd23745f68379a5ac764ba09a6202"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>0c15b5ff-713b-43ea-8ce2-2df2918fbd6c</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Thu, 29 Jan 2015 10:06:19 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=StopInstances&InstanceId.1=i-44075a51&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150129T100619Z"
          X-Amz-Content-Sha256: 
            - "38d93303a9d1e21e7fb9a77747f4bd0dc90382707900a91af998ec0a48cb228a"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150129/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=771b8e09598b11c8e1bc215a5281e29aee61cea14446dbc5d21a8c6f5768e35c"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <StopInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>d4dfa07b-6ea6-4f0f-a55a-af7e632b9326</requestId>
                <instancesSet>
                    <item>
                        <instanceId>i-44075a51</instanceId>
                        <currentState>
                            <code>64</code>
                            <name>stopping</name>
                        </currentState>
                        <previousState>
                            <code>16</code>
                            <name>running</name>
                        </previousState>
                    </item>
                </instancesSet>
            </StopInstancesResponse>
      recorded_at: "Thu, 29 Jan 2015 10:06:20 GMT"
  recorded_with: "VCR 2.9.3"
