--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&Filter.1.Name=group-name&Filter.1.Value.1=web-sg&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103552Z"
          X-Amz-Content-Sha256: 
            - "6b4497d6ee1ed745d75df9ca73c1bda511e74d65487aa09a89cf131932ff2f24"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=ca72854ebf6e4935926b4fe887fcc29fa59f8c601005b1167aff52a874d43a95"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>3fa1539f-25bc-4191-93f5-3aecd7522a21</requestId>
                <securityGroupInfo/>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:54 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeAccountAttributes&AttributeName.1=supported-platforms&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103554Z"
          X-Amz-Content-Sha256: 
            - "219ae72f0dfc0da00185f47a4fad351b486699ecd2ffc7c53c029d4410bc6b16"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=74e1e0bdd5b781ff7c177208c46e9d8ea95b3a0e57c3d341ab3112c6c7b892aa"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeAccountAttributesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>d8f271db-a31c-4455-813a-7c618ea6e54c</requestId>
                <accountAttributeSet>
                    <item>
                        <attributeName>supported-platforms</attributeName>
                        <attributeValueSet>
                            <item>
                                <attributeValue>EC2</attributeValue>
                            </item>
                            <item>
                                <attributeValue>VPC</attributeValue>
                            </item>
                        </attributeValueSet>
                    </item>
                </accountAttributeSet>
            </DescribeAccountAttributesResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:55 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=RunInstances&EbsOptimized=false&ImageId=ami-67a60d7a&InstanceInitiatedShutdownBehavior=stop&InstanceType=t1.micro&MaxCount=1&MinCount=1&Monitoring.Enabled=false&Placement.AvailabilityZone=sa-east-1a&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103555Z"
          X-Amz-Content-Sha256: 
            - f2a00a2768db110154d1894e8875a77af6a51287986417be51e9727a0215a5ec
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=9a12f66f126c421ac0c5d94318e16501fab4394ecf41aa041f317bcd7262a662"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>ca2cb67c-14bf-48af-8103-41f9347c9251</requestId>
                <reservationId>r-6b92c57e</reservationId>
                <ownerId>482693910459</ownerId>
                <groupSet>
                    <item>
                        <groupId>sg-2e409f33</groupId>
                        <groupName>default</groupName>
                    </item>
                </groupSet>
                <instancesSet>
                    <item>
                        <instanceId>i-f64475e3</instanceId>
                        <imageId>ami-67a60d7a</imageId>
                        <instanceState>
                            <code>0</code>
                            <name>pending</name>
                        </instanceState>
                        <privateDnsName/>
                        <dnsName/>
                        <reason/>
                        <amiLaunchIndex>0</amiLaunchIndex>
                        <productCodes/>
                        <instanceType>t1.micro</instanceType>
                        <launchTime>2015-03-05T10:35:57.000Z</launchTime>
                        <placement>
                            <availabilityZone>sa-east-1a</availabilityZone>
                            <groupName/>
                            <tenancy>default</tenancy>
                        </placement>
                        <kernelId>aki-5553f448</kernelId>
                        <monitoring>
                            <state>disabled</state>
                        </monitoring>
                        <groupSet>
                            <item>
                                <groupId>sg-2e409f33</groupId>
                                <groupName>default</groupName>
                            </item>
                        </groupSet>
                        <stateReason>
                            <code>pending</code>
                            <message>pending</message>
                        </stateReason>
                        <architecture>x86_64</architecture>
                        <rootDeviceType>ebs</rootDeviceType>
                        <rootDeviceName>/dev/sda1</rootDeviceName>
                        <blockDeviceMapping/>
                        <virtualizationType>paravirtual</virtualizationType>
                        <clientToken/>
                        <hypervisor>xen</hypervisor>
                        <networkInterfaceSet/>
                        <ebsOptimized>false</ebsOptimized>
                    </item>
                </instancesSet>
            </RunInstancesResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:57 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=CreateTags&ResourceId.1=i-f64475e3&Tag.1.Key=Name&Tag.1.Value=web-15&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103557Z"
          X-Amz-Content-Sha256: 
            - ff989126273f1345afccce1a539b039723ea58acb23984e9882fa00eec7530cb
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=a5d94d9ee8f67b0e4713aba81bceecfd819ac33acad257ffa38d22a7a8589770"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>990925e6-f3b8-4a13-a510-e8dd4461a0f1</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Thu, 05 Mar 2015 10:35:58 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&InstanceId.1=i-f64475e3&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103631Z"
          X-Amz-Content-Sha256: 
            - "95698d904fcd01b04eb75277c8038fdb132fde3bda1e24c213a5c9cc6c72104d"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=d082831d887e3827f236c9c9738229e5af782b478fe669cff475def03456db7d"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>f5895760-5673-4b5b-9cf5-2581a74e337a</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-6b92c57e</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-2e409f33</groupId>
                                <groupName>default</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-f64475e3</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-46-12.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-177-71-169-152.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-03-05T10:35:57.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.46.12</privateIpAddress>
                                <ipAddress>177.71.169.152</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-2e409f33</groupId>
                                        <groupName>default</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-17c4150b</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-03-05T10:36:00.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <tagSet>
                                    <item>
                                        <key>Name</key>
                                        <value>web-15</value>
                                    </item>
                                </tagSet>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Thu, 05 Mar 2015 10:36:32 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=StopInstances&InstanceId.1=i-f64475e3&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150305T103632Z"
          X-Amz-Content-Sha256: 
            - c81768abac7c6a6e5fab421630260a23a9bcfa4d7851f42e804a9fc54a908e59
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150305/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=df5c21c10e50e9b7d10ff18d5d640bd7f0c2a38665025e0a0a1327b608baa343"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <StopInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>f523114a-780a-4035-84d0-79486c26f81b</requestId>
                <instancesSet>
                    <item>
                        <instanceId>i-f64475e3</instanceId>
                        <currentState>
                            <code>64</code>
                            <name>stopping</name>
                        </currentState>
                        <previousState>
                            <code>16</code>
                            <name>running</name>
                        </previousState>
                    </item>
                </instancesSet>
            </StopInstancesResponse>
      recorded_at: "Thu, 05 Mar 2015 10:36:33 GMT"
  recorded_with: "VCR 2.9.3"
