--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeSecurityGroups&Filter.1.Name=group-name&Filter.1.Value.1=web-sg&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103655Z"
          X-Amz-Content-Sha256: 
            - "6b4497d6ee1ed745d75df9ca73c1bda511e74d65487aa09a89cf131932ff2f24"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=e4e1a6d7228e9722b075cd9da840d7a247446bc4e73ca37cd1205c80e390b9df"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>bc0d00c3-d0c8-48f4-81ec-2ef7507f4150</requestId>
                <securityGroupInfo>
                    <item>
                        <ownerId>482693910459</ownerId>
                        <groupId>sg-1b5eec04</groupId>
                        <groupName>web-sg</groupName>
                        <groupDescription>Security group for web servers</groupDescription>
                        <ipPermissions>
                            <item>
                                <ipProtocol>tcp</ipProtocol>
                                <fromPort>22</fromPort>
                                <toPort>22</toPort>
                                <groups/>
                                <ipRanges>
                                    <item>
                                        <cidrIp>0.0.0.0/0</cidrIp>
                                    </item>
                                </ipRanges>
                            </item>
                        </ipPermissions>
                        <ipPermissionsEgress/>
                    </item>
                </securityGroupInfo>
            </DescribeSecurityGroupsResponse>
      recorded_at: "Mon, 09 Feb 2015 10:36:56 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=RunInstances&ImageId=ami-67a60d7a&InstanceType=t1.micro&MaxCount=1&MinCount=1&Monitoring.Enabled=false&Placement.AvailabilityZone=sa-east-1a&SecurityGroupId.1=sg-1b5eec04&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103656Z"
          X-Amz-Content-Sha256: 
            - "60e5044c1ad811b94983c675c32ae1fbdff8677f8d838d446f017af3a279f737"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=d4aefb5197c585dc51b5558a96906f083331ceac29e1982caf970272c6fb3d2a"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>39c5a57c-43ec-4423-b277-53f948d45042</requestId>
                <reservationId>r-ab692dbe</reservationId>
                <ownerId>482693910459</ownerId>
                <groupSet>
                    <item>
                        <groupId>sg-1b5eec04</groupId>
                        <groupName>web-sg</groupName>
                    </item>
                </groupSet>
                <instancesSet>
                    <item>
                        <instanceId>i-7cf2d769</instanceId>
                        <imageId>ami-67a60d7a</imageId>
                        <instanceState>
                            <code>0</code>
                            <name>pending</name>
                        </instanceState>
                        <privateDnsName/>
                        <dnsName/>
                        <reason/>
                        <amiLaunchIndex>0</amiLaunchIndex>
                        <productCodes/>
                        <instanceType>t1.micro</instanceType>
                        <launchTime>2015-02-09T10:36:57.000Z</launchTime>
                        <placement>
                            <availabilityZone>sa-east-1a</availabilityZone>
                            <groupName/>
                            <tenancy>default</tenancy>
                        </placement>
                        <kernelId>aki-5553f448</kernelId>
                        <monitoring>
                            <state>disabled</state>
                        </monitoring>
                        <groupSet>
                            <item>
                                <groupId>sg-1b5eec04</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <stateReason>
                            <code>pending</code>
                            <message>pending</message>
                        </stateReason>
                        <architecture>x86_64</architecture>
                        <rootDeviceType>ebs</rootDeviceType>
                        <rootDeviceName>/dev/sda1</rootDeviceName>
                        <blockDeviceMapping/>
                        <virtualizationType>paravirtual</virtualizationType>
                        <clientToken/>
                        <hypervisor>xen</hypervisor>
                        <networkInterfaceSet/>
                        <ebsOptimized>false</ebsOptimized>
                    </item>
                </instancesSet>
            </RunInstancesResponse>
      recorded_at: "Mon, 09 Feb 2015 10:36:57 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=DescribeInstances&InstanceId.1=i-7cf2d769&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103730Z"
          X-Amz-Content-Sha256: 
            - "432c5a4d5c57e451d4fbe4c14ef55ee52b0eb8429571f05523e80038b59f46f4"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=a1d19dc0b784a80dce84215532bd00d1af3dde2532fd05ca845c440cafa09898"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>48f4db0e-8919-4dd1-a5cc-295f2ad235f9</requestId>
                <reservationSet>
                    <item>
                        <reservationId>r-ab692dbe</reservationId>
                        <ownerId>482693910459</ownerId>
                        <groupSet>
                            <item>
                                <groupId>sg-1b5eec04</groupId>
                                <groupName>web-sg</groupName>
                            </item>
                        </groupSet>
                        <instancesSet>
                            <item>
                                <instanceId>i-7cf2d769</instanceId>
                                <imageId>ami-67a60d7a</imageId>
                                <instanceState>
                                    <code>16</code>
                                    <name>running</name>
                                </instanceState>
                                <privateDnsName>ip-10-252-29-245.sa-east-1.compute.internal</privateDnsName>
                                <dnsName>ec2-54-232-67-49.sa-east-1.compute.amazonaws.com</dnsName>
                                <reason/>
                                <amiLaunchIndex>0</amiLaunchIndex>
                                <productCodes/>
                                <instanceType>t1.micro</instanceType>
                                <launchTime>2015-02-09T10:36:57.000Z</launchTime>
                                <placement>
                                    <availabilityZone>sa-east-1a</availabilityZone>
                                    <groupName/>
                                    <tenancy>default</tenancy>
                                </placement>
                                <kernelId>aki-5553f448</kernelId>
                                <monitoring>
                                    <state>disabled</state>
                                </monitoring>
                                <privateIpAddress>10.252.29.245</privateIpAddress>
                                <ipAddress>54.232.67.49</ipAddress>
                                <groupSet>
                                    <item>
                                        <groupId>sg-1b5eec04</groupId>
                                        <groupName>web-sg</groupName>
                                    </item>
                                </groupSet>
                                <architecture>x86_64</architecture>
                                <rootDeviceType>ebs</rootDeviceType>
                                <rootDeviceName>/dev/sda1</rootDeviceName>
                                <blockDeviceMapping>
                                    <item>
                                        <deviceName>/dev/sda1</deviceName>
                                        <ebs>
                                            <volumeId>vol-ed0ecdf1</volumeId>
                                            <status>attached</status>
                                            <attachTime>2015-02-09T10:37:00.000Z</attachTime>
                                            <deleteOnTermination>true</deleteOnTermination>
                                        </ebs>
                                    </item>
                                </blockDeviceMapping>
                                <virtualizationType>paravirtual</virtualizationType>
                                <clientToken/>
                                <hypervisor>xen</hypervisor>
                                <networkInterfaceSet/>
                                <ebsOptimized>false</ebsOptimized>
                            </item>
                        </instancesSet>
                    </item>
                </reservationSet>
            </DescribeInstancesResponse>
      recorded_at: "Mon, 09 Feb 2015 10:37:31 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=CreateTags&ResourceId.1=i-7cf2d769&Tag.1.Key=Name&Tag.1.Value=web-15&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103731Z"
          X-Amz-Content-Sha256: 
            - "4de391dffc7de163954384c19b040a1622a8dad7b966fe923dc912f81507da1d"
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=38c72feb40e747be43702e48c817bb3a3b3429437d6acdd8c1d6ae9ba88e5eba"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>2f26579b-564a-42f2-9b69-e676e3ae64ea</requestId>
                <return>true</return>
            </CreateTagsResponse>
      recorded_at: "Mon, 09 Feb 2015 10:37:32 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "Action=StopInstances&InstanceId.1=i-7cf2d769&Version=2014-09-01"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
          X-Amz-Date: 
            - "20150209T103732Z"
          X-Amz-Content-Sha256: 
            - ae027e62441eb43d29b3c57ff9355e7c2521d742c3fa3c1fc25e7ad2cbee7e43
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=redacted/20150209/sa-east-1/ec2/aws4_request, SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date, Signature=c77c657add01011b7ab5dcb2a84da67d7f580ef81abdfc5282d92be5cc1ac7e4"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <StopInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-09-01/">
                <requestId>b2d127f1-f756-4a38-9a64-620c09784d30</requestId>
                <instancesSet>
                    <item>
                        <instanceId>i-7cf2d769</instanceId>
                        <currentState>
                            <code>64</code>
                            <name>stopping</name>
                        </currentState>
                        <previousState>
                            <code>16</code>
                            <name>running</name>
                        </previousState>
                    </item>
                </instancesSet>
            </StopInstancesResponse>
      recorded_at: "Mon, 09 Feb 2015 10:37:33 GMT"
  recorded_with: "VCR 2.9.3"
