---
http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListUsers&Version=2010-05-08
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160523T191020Z
      X-Amz-Content-Sha256:
      - b6359072c78d70ebee1e81adcbab4f01bf2c23245fa365ef83fe8f1f955085e2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=redacterd/20160523/us-east-1/iam/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=582d4b396d43288e53c781afd197361dfcce49e42bb9b91e23aa68f72c838a43
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - fe41e8f3-2119-11e6-aa8d-9b4f3d48f980
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListUsersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUsersResult>
            <IsTruncated>false</IsTruncated>
            <Users>
              <member>
                <Path>/</Path>
                <PasswordLastUsed>2016-05-20T20:59:26Z</PasswordLastUsed>
                <UserName>zleslie</UserName>
                <Arn>arn:aws:iam::111111111111:user/zleslie</Arn>
                <UserId>AAAAAAAAAAAAAAAAAAAAA</UserId>
                <CreateDate>2016-05-20T20:58:02Z</CreateDate>
              </member>
            </Users>
          </ListUsersResult>
          <ResponseMetadata>
            <RequestId>fe41e8f3-2119-11e6-aa8d-9b4f3d48f980</RequestId>
          </ResponseMetadata>
        </ListUsersResponse>
  recorded_at: Mon, 23 May 2016 19:10:20 GMT
recorded_with: VCR 3.0.1
