--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.eu-west-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeRegions&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A51%3A50Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeRegionsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>7a1e0154-5f45-4278-b733-e6dce00d3f4b</requestId>
                <regionInfo>
                    <item>
                        <regionName>eu-west-1</regionName>
                        <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>sa-east-1</regionName>
                        <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
                        <regionName>us-east-1</regionName>
                        <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>
                    </item>
                    <item>
  [...]
    - request: 
        method: post
        uri: "https://ec2.eu-west-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A51%3A50Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>2d2d3c3f-f66e-48d2-93da-599f54437ae5</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Mon, 13 Oct 2014 12:51:50 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A51%3A50Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>d8cedb3b-4f20-4791-b311-b3bfe74e6ef9</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Mon, 13 Oct 2014 12:51:52 GMT"
    - request: 
        method: post
        uri: "https://ec2.us-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A51%3A52Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>7a7172dc-37ab-4116-a1d4-4870cbdd6aea</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Mon, 13 Oct 2014 12:51:53 GMT"
    - request: 
        method: post
        uri: "https://ec2.ap-northeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A51%3A53Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>518c170a-a560-4304-9ce3-350fc664bb96</requestId>
                <vpcSet/>
            </DescribeVpcsResponse>
      recorded_at: "Mon, 13 Oct 2014 12:51:54 GMT"
    - request: 
        method: post
        uri: "https://ec2.us-west-2.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A51%3A54Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>ce2eabeb-932f-4633-9ab7-8e360414f042</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Mon, 13 Oct 2014 12:51:55 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.ap-southeast-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A51%3A56Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>6053adb3-0978-4818-a640-4d067cd2623a</requestId>
                <vpcSet/>
            </DescribeVpcsResponse>
      recorded_at: "Mon, 13 Oct 2014 12:51:58 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.ap-southeast-2.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-13T12%3A52%3A06Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>8c716e76-3e8e-4c89-b2dd-40cfdfd55716</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Mon, 13 Oct 2014 12:52:07 GMT"
  recorded_with: "VCR 2.9.3"
