--- 
  http_interactions: 
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSubnets&Signature=Ch7hbu5Uaf9bUf3wLOmgW0xfhPgaytTXQfHpliWSQ6s%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T11%3A33%3A59Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            </DescribeSubnetsResponse>
      recorded_at: "Fri, 17 Oct 2014 11:34:03 GMT"
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T11%3A34%3A03Z&Version=2014-06-15&VpcId.1=vpc-9204b9f7"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>068924e1-0c03-45b5-8dbd-c71003851990</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Fri, 17 Oct 2014 11:34:04 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeSubnets&Signature=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T11%3A34%3A06Z&Version=2014-06-15"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>af8f3aed-e569-4fd7-859a-7ace68311214</requestId>
                <subnetSet>
                </subnetSet>
            </DescribeSubnetsResponse>
      recorded_at: "Fri, 17 Oct 2014 11:34:07 GMT"
[...]
    - request: 
        method: post
        uri: "https://ec2.sa-east-1.amazonaws.com/"
        body: 
          encoding: UTF-8
          string: "AWSAccessKeyId=&Action=DescribeVpcs&Signature=SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-17T11%3A34%3A08Z&Version=2014-06-15&VpcId.1=vpc-9204b9f7"
        headers: 
          Content-Type: 
            - "application/x-www-form-urlencoded; charset=utf-8"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          Content-Type: 
            - "text/xml;charset=UTF-8"
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
                <requestId>9535b46b-c70c-4b14-9caf-e8453a4e5ca0</requestId>
                <vpcSet>
                </vpcSet>
            </DescribeVpcsResponse>
      recorded_at: "Fri, 17 Oct 2014 11:34:09 GMT"
  recorded_with: "VCR 2.9.3"
