--- 
  http_interactions: 
    - request: 
        method: get
        uri: "https://route53.amazonaws.com/2013-04-01/hostedzone"
        body: 
          encoding: ASCII-8BIT
          string: ""
        headers: 
          Content-Type: 
            - ""
          X-Amzn-Authorization: 
            - "AWS3-HTTPS AWSAccessKeyId=redacted,Algorithm=HmacSHA256,Signature=redacted"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amzn-Requestid: 
            - "23007e4b-4e12-11e4-87ed-e9f2af50b6a1"
          Content-Type: 
            - text/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0"?>
            <ListHostedZonesResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z3VO2BZMEQK733</Id><Name>devopscentral.com.</Name><CallerReference>652b4c6ed3a75cf27e37f5736d7bf77c</CallerReference><Config/><ResourceRecordSetCount>2</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/Z2RX2I1471TBSU</Id><Name>devopscentral.com.</Name><CallerReference>a7780e6f63b5122a1fe576fbb43fce7f</CallerReference><Config/><ResourceRecordSetCount>2</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/Z2A78NH36PE988</Id><Name>devopscentral.com.</Name><CallerReference>dc3285d28b76e9b0bd176ae33cfdcda2</CallerReference><Config/><ResourceRecordSetCount>2</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesResponse>
      recorded_at: "Tue, 07 Oct 2014 11:07:34 GMT"
[...]
