ec2_securitygroup { '{{sg2_name}}':
  ensure      => present,
  description => 'group for testing autoscaling group',
  region      => '{{region}}',
}

ec2_launchconfiguration { '{{lc2_name}}':
  ensure          => present,
  security_groups => ['{{sg2_name}}'],
  region          => '{{region}}',
  image_id        => 'ami-67a60d7a',
  instance_type   => 't1.micro',
}
