ec2_launchconfiguration { '{{lc2_name}}':
  ensure          => absent,
  security_groups => ['{{sg2_name}}'],
  region          => '{{region}}',
  image_id        => 'ami-2121764b',
  instance_type   => 't1.micro',
}
~>

ec2_securitygroup { '{{sg2_name}}':
  ensure      => absent,
  description => 'group for testing autoscaling group',
  region      => '{{region}}',
}
