ec2_securitygroup { '{{name}}-sg':
  ensure      => {{ensure}},
  description => 'group for testing autoscaling group',
  region      => 'sa-east-1',
}

ec2_launchconfiguration { '{{name}}-lc':
  ensure          => {{ensure}},
  security_groups => ['{{name}}-sg'],
  region          => 'sa-east-1',
  image_id        => 'ami-67a60d7a',
  instance_type   => 't1.micro',
  {{#optional}}
  {{k}} => '{{v}}',
  {{/optional}}
}

ec2_autoscalinggroup { '{{name}}-asg':
  ensure               => {{ensure}},
  min_size             => {{min_size}},
  max_size             => {{max_size}},
  region               => 'sa-east-1',
  launch_configuration => '{{name}}-lc',
  availability_zones   => ['sa-east-1b', 'sa-east-1a'],
}

ec2_scalingpolicy { '{{name}}-scaleout':
  ensure             => {{ensure}},
  auto_scaling_group => '{{name}}-asg',
  scaling_adjustment => {{scaling_adjustment}},
  adjustment_type    => '{{adjustment_type}}',
  region             => 'sa-east-1',
}

cloudwatch_alarm { '{{name}}-AddCapacity':
  ensure              => {{ensure}},
  metric              => '{{metric}}',
  namespace           => '{{namespace}}',
  statistic           => '{{statistic}}',
  period              => {{period}},
  threshold           => {{threshold}},
  comparison_operator => '{{comparison_operator}}',
  dimensions          => [{
    'AutoScalingGroupName' => '{{name}}-asg',
  }],
  evaluation_periods  => {{evaluation_periods}},
  alarm_actions       => ['{{name}}-scaleout'],
  region              => 'sa-east-1',
}
