iam_role { '{{role_name}}':
  ensure          => {{ensure}},
  path            => '{{path}}',
  policy_document => '{{role_policy_document}}',
}

iam_instance_profile { '{{profile_name}}':
  ensure => {{ensure}},
  path   => '{{path}}',
  roles  => [ '{{role_name}}' ],
}
