ec2_instance { '{{name}}':
  ensure => {{ensure}},
  region => '{{region}}',
  image_id => '{{image_id}}',
  instance_type => '{{instance_type}}',
  security_groups => ['default'],
  tags            => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
  {{#optional}}
  {{k}} => '{{v}}',
  {{/optional}}
}
