ec2_instance { '{{name}}':
  ensure => {{ensure}},
  region => '{{region}}',
  image_id => '{{image_id}}',
  instance_type => '{{instance_type}}',
  security_groups => ['default'],
  tags            => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
  block_devices => [{
    device_name => '{{device_name}}',
    volume_size => {{volume_size}},
  }],
  {{#optional}}
  {{k}} => '{{v}}',
  {{/optional}}
}
