elb_loadbalancer { '{{name}}':
ensure => {{ensure}},
region => '{{region}}',
availability_zones => {{{availability_zones}}},
listeners     => [
    {{#listeners}}
      {
        {{#values}}
          {{k}} => '{{v}}',
        {{/values}}
      },
    {{/listeners}}
  ],
instances => [{{#instances}}'{{.}}',{{/instances}}],
tags            => {
{{#tags}}
{{k}} => '{{v}}',
{{/tags}}
}
}
