

ec2_vpc { '{{name}}-vpc':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  cidr_block              => '{{vpc_cidr}}',
  dhcp_options            => '{{dhcp_options_setting}}',
  instance_tenancy        => '{{vpc_instance_tenancy}}',
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_vpc_dhcp_options { '{{name}}-options':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  netbios_node_type       => {{netbios_node_type}},
  domain_name             => [{{#domain_name}}'{{.}}',{{/domain_name}}],
  domain_name_servers     => [{{#domain_name_servers}}'{{.}}',{{/domain_name_servers}}],
  ntp_servers             => [{{#ntp_servers}}'{{.}}',{{/ntp_servers}}],
  netbios_name_servers    => [{{#netbios_name_servers}}'{{.}}',{{/netbios_name_servers}}],
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_vpc_routetable { '{{name}}-routes':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  vpc                     => '{{routetable_vpc_setting}}',
  routes                  => [
    {{#route_settings}}
      {
        {{#values}}
          {{k}} => '{{v}}',
        {{/values}}
      },
    {{/route_settings}}
  ],
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_vpc_subnet { '{{name}}-subnet':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  vpc                     => '{{subnet_vpc_setting}}',
  cidr_block              => '{{subnet_cidr}}',
  availability_zone       => '{{subnet_availability_zone}}',
  route_table             => '{{subnet_route_table_setting}}',
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_vpc_internet_gateway { '{{name}}-igw':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  vpc                     => '{{igw_vpc_setting}}',
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_vpc_customer_gateway { '{{name}}-cgw':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  ip_address              => '{{customer_ip_address}}',
  bgp_asn                 => {{bgp_asn}},
  type                    => '{{vpn_type}}',
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_vpc_vpn { '{{name}}-vpn':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  vpn_gateway             => '{{vpn_vgw_setting}}',
  customer_gateway        => '{{vpn_cgw_setting}}',
  type                    => '{{vpn_type}}',
  routes                  => [{{#vpn_routes}}'{{.}}',{{/vpn_routes}}],
  static_routes           => {{static_routes}},
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_vpc_vpn_gateway { '{{name}}-vgw':
  ensure                  => {{ensure}},
  region                  => '{{region}}',
  vpc                     => '{{vgw_vpc_setting}}',
  type                    => '{{vpn_type}}',
  availability_zone       => '{{vgw_availability_zone}}',
  tags                    => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}

ec2_instance { '{{name}}-instance':
  ensure                      => {{ensure}},
  region                      => '{{region}}',
  image_id                    => 'ami-67a60d7a',
  subnet                      => '{{name}}-subnet',
  associate_public_ip_address => {{associate_public_ip_address}},
  instance_type               => 't1.micro',
  tags                        => {
  {{#tags}}
    {{k}} => '{{v}}',
  {{/tags}}
  },
}
